.about {
    --glow-color-1: #4BE2FF;
    --glow-color-2: #F08EFF;
    --glow-blur: 300px;
    --glow-size: 100%;
    --glow-opacity: 1;

    overflow: hidden;
    margin-top: -84px;
    padding-top: 84px;
}

.about-hero {
    color: var(--txt-total-white);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about-hero__title {
    font-size: 64px;
    line-height: 110%;
    text-align: center;
    margin: 88px auto 0;
    font-weight: 400;
    letter-spacing: -0.03em;

    @media (width < 740px) {
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.02em;
    }
}

.about-hero__subtitle {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    margin: 24px auto 0;
    letter-spacing: -0.01em;

    @media (width < 740px) {
        font-size: 14px;
        line-height: 140%;
        max-width: 283px;
    }
}

/* Картинка с эффектом свечения */
.about-hero__main-image-wrap {
    margin: 56px auto 0;
    width: 576px;
    height: 586px;
    position: relative;

    @media (width < 740px) {
        width: 100%;
        height: auto;
        aspect-ratio: 576/586;
        object-fit: cover;
        margin: 48px auto 0;
    }
}

    .about-hero__main-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 1;
    }

    .about-hero__main-image-wrap::before {
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: var(--glow-size);
        height: var(--glow-size);
        z-index: 1;
        pointer-events: none;
        opacity: var(--glow-opacity);
        border-radius: 50%;
        background: radial-gradient(
            circle at center,
            rgba(75, 226, 255, 0.95) 0%,
            rgba(240, 142, 255, 0.85) 45%,
            rgba(240, 142, 255, 0.55) 60%,
            transparent 85%
        );
        filter: blur(var(--glow-blur));
        will-change: filter, opacity, transform;
        mix-blend-mode: screen;
    }

    .about-hero__main-image-wrap::after {
        display: block;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(var(--glow-size) * 1.5);
        height: calc(var(--glow-size) * 1.5);
        z-index: 0;
        pointer-events: none;
        opacity: var(--glow-opacity);
        border-radius: 50%;
        background: radial-gradient(
            circle at center,
            rgba(75, 226, 255, 0.6) 0%,
            rgba(240, 142, 255, 0.6) 40%,
            transparent 75%
        );
        filter: blur(calc(var(--glow-blur) * 0.9));
        mix-blend-mode: screen;
    }

/* Бренд */
.about-hero__brand {
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    margin: 180px auto 0;
    letter-spacing: -0.02em;

    @media (width < 740px) {
        margin: 100px auto 0;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.01em;
    }
}

/* Слоган. Текст плюс картинки между словами. */
.about-hero__slogan {
    font-size: 88px;
    line-height: 110%;
    text-align: center;
    letter-spacing: -0.03em;
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto 0;
    gap: 0 12px;
    justify-content: center;
    max-width: 1317px;

    @media (width < 740px) {
        margin: 32px auto 0;
        font-size: 48px;
        line-height: 110%;
        letter-spacing: -0.03em;
        gap: 0 8px;
        max-width: 375px;
    }
}

    .about-hero__slogan-break {
        @media (width < 740px) {
            flex-basis: 100%;
        }
    }

    .about-hero__slogan-icon {
        width: 80px;
        aspect-ratio: 1;
        object-fit: contain;
        transform: translateY(6px);

        @media (width < 740px) {
            width: 48px;
            transform: translateY(3px);
        }
    }

    .about-hero__slogan-pre-last {
        @media (width < 740px) {
            order: 1;
        }
    }

/* Счетчики */
.about-hero__counters {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (width < 740px) {
        margin-top: 88px;
    }
}


    .about-hero__counter-wrap {
        display: flex;
        position: relative;
    }

    .about-hero__counter-wrap:last-child {
        margin-left: auto;

        @media (width < 1280px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media (width < 740px) {
            margin-left: 0;
        }
    }

    .about-hero__counter-wrap:first-child::before {
        display: block;
        content: "";
        position: absolute;
        left: 0;
        top: 200px;
        transform: translateX(-50%);
        width: 150%;
        aspect-ratio: 1;
        z-index: -1;
        pointer-events: none;
        opacity: 0.7;
        border-radius: 50%;
        background: radial-gradient(
            circle at center,
            rgb(246, 184, 255) 0%,
            rgba(240, 142, 255, 0) 100%,
            transparent 85%
        );
        filter: blur(200px);
        will-change: filter, opacity, transform;
    }

    .about-hero__counter-wrap:last-child::before {
        display: block;
        content: "";
        position: absolute;
        right: 0;
        bottom: 200px;
        transform: translateX(50%);
        width: 150%;
        aspect-ratio: 1;
        z-index: -1;
        pointer-events: none;
        opacity: 1;
        border-radius: 50%;
        background: radial-gradient(
            circle at center,
            rgba(75, 226, 255, 1) 0%,
            rgba(75, 226, 255, 0) 100%,
            transparent 85%
        );
        filter: blur(200px);
        will-change: filter, opacity, transform;
    }

    .about-hero__counter {
        display: inline-flex;
        align-items: stretch;
        gap: 28px;

        @media (width < 1280px) {
            display: inline-flex;
            flex-direction: column;
        }

        @media (width < 740px) {
            gap: 24px;
            display: flex;
            width: 100%;
        }
    }

        .about-hero__counter-value {
            font-size: 300px;
            line-height: 110%;
            letter-spacing: -0.02em;

            @media (width < 740px) {
                font-size: 120px;
                line-height: 110%;
                letter-spacing: -0.02em;
            }
        }

        .about-hero__counter-wrap:last-child .about-hero__counter-value {
            @media (width < 740px) {
                text-align: right;
            }
        }

        .about-hero__counter-desc {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            @media (width < 1240px) {
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
            }

            @media (width < 740px) {
                display: inline-flex;
                align-items: flex-start;
                flex-direction: column;
            }
        }

        .about-hero__counter-title {
            font-size: 48px;
            line-height: 110%;
            letter-spacing: -0.03em;
            margin-top: 41px;

            @media (width < 1240px) {
                margin-top: 0;
                transform: translateY(6px);
            }

            @media (width < 740px) {
                margin-top: 0;
                font-size: 32px;
                line-height: 120%;
                letter-spacing: -0.02em;
                transform: translateY(0);
            }
        }

        .about-hero__counter-wrap:first-child .about-hero__counter-title {
            @media (width < 740px) {
                margin-left: 122px;
            }
        }

        .about-hero__counter-subtitle {
            font-size: 18px;
            line-height: 140%;
            letter-spacing: 0;
            max-width: 267px;
            margin-bottom: 53px;

            @media (width < 1240px) {
                margin-bottom: 0;
            }

            @media (width < 740px) {
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0;
            }
        }

        .about-hero__counter-wrap:first-child .about-hero__counter-subtitle {
            @media (width < 740px) {
                margin-left: 171px;
                margin-top: 32px;
            }
        }

        .about-hero__counter-wrap:last-child .about-hero__counter-subtitle {
            @media (width < 740px) {
                margin-left: 90px;
                margin-top: 32px;
            }
        }

/* Slider */
.carousel--js-about-hero-slider__pagination {
    position: absolute;
    bottom: 100px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 2;

    @media (width < 740px) {
        gap: 8px;
        bottom: 48px !important;
    }
}

.carousel--js-about-hero-slider__bullet {
    width: 16px;
    aspect-ratio: 1;
    flex-shrink: 0;
    background-color: var(--fill-total-white);
    border-radius: 50%;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity 200ms ease;

    @media (width < 740px) {
        width: 8px;
    }
}

.carousel--js-about-hero-slider__bullet--current {
    opacity: 1;
}



/* Элементы слайдера */
.about-hero-slider {
    --play-img-size-desktop: 900px;
    --play-img-size-mobile: 600px;

    margin-top: 165px;
    background: url("../images/about/bg-play.svg") no-repeat center;
    background-size: contain;
    z-index: 0;
    position: relative;
    margin-bottom: 51px;

    /* Делаю так, поскольку нужно подстроиться по ширине изображения чтобы корректно изменился размер. Размер - ширина картинки + scroll */
    @media (width < 620px) {
        background-size: cover;
    }
}

.about-hero-slider .swiper {
    @media (width < 740px) {
        overflow: visible;
    }
}

.about-hero-slider,
.about-hero-slider__item {
    height: var(--play-img-size-desktop);

    @media (width < 740px) {
        height: var(--play-img-size-mobile);
    }
}

.about-hero-slider__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 40px;

    @media (width < 740px) {
        gap: 24px;
    }
}

    .about-hero-slider__title {
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.02em;

        @media (width < 740px) {
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0;
        }
    }

    .about-hero-slider__subtitle {
        font-size: 64px;
        line-height: 110%;
        letter-spacing: -0.03em;
        text-align: center;
        max-width: 785px;

        @media (width < 740px) {
            font-size: 32px;
            line-height: 120%;
            letter-spacing: 0.98;
            max-width: 100%;
        }
    }

    .about-hero-slider__stub {
        height: 28px;

        @media (width < 740px) {
            height: 22px;
        }
    }



    /* Новаторы */
    /* Карточка уровень вовлеченности */
    .about-novators__level {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 16px;
        border-radius: 16px;
        background-color: var(--fill-total-white-15);
        backdrop-filter: var(--blur-15);
        border: 2px solid var(--fill-total-white-15);
        height: 245px;
        width: 212px;
        position: absolute;
        top: 47px;
        left: 46px;

        @media (width < 740px) {
            height: 140px;
            width: 137px;
            top: -12px;
            left: 0;
            padding: 12px;
        }
    }

        .about-novators__level-value {
            font-size: 40px;
            line-height: 110%;
            letter-spacing: -0.02em;

            @media (width < 740px) {
                font-size: 32px;
                line-height: 120%;
                letter-spacing: -0.02em;
            }
        }

        .about-novators__level-desc {
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0;

            @media (width < 740px) {
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0;
            }
        }



    /* Карточка с Вовлекай */
    .about-novators__vovlekai {
        position: absolute;
        bottom: 109px;
        left: 203px;
        width: 120px;
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--fill-total-white);
        border-radius: 16px;
        box-shadow: 0 15px 35px 0 #322F3D14;
        transition: all 200ms ease;

        @media (width < 740px) {
            left: 0;
            bottom: 32px;
            width: 72px;
            border-radius: 12px;
        }
    }

        .about-novators__vovlekai:hover {
            transform: translateY(-8px);
        }

        .about-novators__vovlekai img {
            width: 56px;
            aspect-ratio: 1;

            @media (width < 740px) {
                width: 34px;
            }
        }



    /* Видео */
    .about-novators__video {
        position: absolute;
        right: 12px;
        bottom: 21px;
        width: 210px;
        height: 372px;

        @media (width < 740px) {
            width: 110px;
            height: 176px;
            right: 0;
            bottom: 6px;
        }
    }

        .about-novators__video video {
            width: 100%;
            height: 100%;
            border-radius: 16px;
            object-fit: cover;
        }

        .about-novators__video span {
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0;
            position: absolute;
            bottom: 16px;
            left: 16px;
            border-radius: 8px;
            background-color: var(--fill-total-white-32);
            backdrop-filter: var(--blur-15);
            padding: 5px 12px;
            display: flex;
            align-items: center;
            gap: 7px;

            @media (width < 740px) {
                font-size: 12px;
                bottom: 10px;
                left: 10px;
                gap: 4px;
                padding: 1px 7px;
            }
        }

        .about-novators__video span::before {
            content: "";
            display: block;
            width: 8px;
            aspect-ratio: 1;
            background-color: #44FF67;
            border-radius: 50%;
        }



    /* Эксперты */
    /* Карточка сотрудники */
    .about-experts__count {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 16px;
        border-radius: 16px;
        background-color: var(--fill-total-white-15);
        backdrop-filter: var(--blur-15);
        border: 2px solid var(--fill-total-white-15);
        height: 245px;
        width: 212px;
        position: absolute;
        top: 47px;
        right: 46px;

        @media (width < 740px) {
            height: 144px;
            width: 146px;
            top: -12px;
            left: 0;
            right: initial;
            padding: 12px;
        }
    }

        .about-experts__count-value {
            font-size: 40px;
            line-height: 110%;
            letter-spacing: -0.02em;

            @media (width < 740px) {
                font-size: 32px;
                line-height: 120%;
                letter-spacing: -0.02em;
            }
        }

        .about-experts__count-desc {
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0;

            @media (width < 740px) {
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0;
            }
        }



    /* Карточка с Городом */
    .about-experts__city {
        position: absolute;
        top: 109px;
        left: 203px;
        width: 120px;
        aspect-ratio: 1;
        border-radius: 16px;
        box-shadow: 0 15px 35px 0 #322F3D14;
        object-fit: cover;

        @media (width < 740px) {
            left: 16px;
            top: initial;
            bottom: 12px;
            width: 72px;
            border-radius: 12px;
        }
    }



    /* Видео */
    .about-experts__video {
        position: absolute;
        left: 160px;
        bottom: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;

        @media (width < 740px) {
            width: 131px;
            height: 131px;
            left: initial;
            right: 0;
            bottom: 68px;
        }
    }

        .about-experts__video video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .about-experts__video-progress {
            --progress-color: white;
            --progress-thickness: 2px;

            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            pointer-events: none;

            @media (width < 740px) {
                width: 100%;
                height: 100%;
            }
        }

        .about-experts__video-progress-circle {
            transition: stroke-dashoffset 0.3s ease-out;
            transform: rotate(-90deg);
            transform-origin: center;
        }

        .about-experts__video-volume {
            all: unset;
            position: absolute;
            top: 14px;
            z-index: 1;
            left: 50%;
            width: 26px;
            aspect-ratio: 1;
            background: url("../vectors/volume-off.svg") no-repeat center / contain;
            cursor: pointer;
            transform: translateX(-50%);

            @media (width < 740px) {
                top: 8px;
                width: 18px;
            }
        }

        .about-experts__video-volume-stub {
            position: absolute;
            width: 7px;
            top: 50%;
            right: 2px;
            background-color: #4D4D4D;
            pointer-events: none;
            border-radius: 50%;
            aspect-ratio: 1;
            transform: translateY(-50%);
            opacity: 0;
            transition: opacity 200ms ease;

            @media (width < 740px) {
                width: 5px;
                right: 1px;
            }
        }



    /* Эффективность */
    /* Карточка возраст */
    .about-speed__age {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        border-radius: 16px;
        background-color: var(--fill-total-white-15);
        backdrop-filter: var(--blur-15);
        border: 2px solid var(--fill-total-white-15);
        height: 240px;
        width: 251px;
        position: absolute;
        top: 47px;
        left: 46px;

        @media (width < 740px) {
            height: 190px;
            width: 184px;
            top: -12px;
            left: 0;
            padding: 12px;
        }
    }

        .about-speed__age-value {
            font-size: 40px;
            line-height: 110%;
            letter-spacing: -0.02em;

            @media (width < 740px) {
                font-size: 32px;
                line-height: 120%;
                letter-spacing: -0.02em;
            }
        }

        .about-speed__age-desc {
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0;
            margin-top: 8px;

            @media (width < 740px) {
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0;
            }
        }

        .about-speed__age-graph {
            content: "";
            display: block;
            position: absolute;
            left: 16px;
            bottom: 16px;
            width: calc(100% - 16px * 2);

            @media (width < 740px) {
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0;
                left: 12px;
                bottom: 12px;
                width: calc(100% - 12px * 2);
            }
        }

        .about-speed__age-graph {
            content: "";
            display: block;
            position: absolute;
            left: 16px;
            bottom: 16px;
            width: calc(100% - 16px * 2);

            @media (width < 740px) {
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0;
                left: 12px;
                bottom: 12px;
                width: calc(100% - 12px * 2);
            }
        }
    /* Карточка курсы */
    .about-speed__courses {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        border-radius: 16px;
        background-color: var(--fill-total-white-15);
        backdrop-filter: var(--blur-15);
        border: 2px solid var(--fill-total-white-15);
        height: 224px;
        width: 171px;
        position: absolute;
        bottom: 0;
        right: 128px;

        @media (width < 740px) {
            height: 189px;
            width: 145px;
            bottom: 9px;
            right: -5px;
            padding: 12px;
        }
    }
        .about-speed__courses-graph {
            display: flex;
            align-items: stretch;
            gap: 8px;

            @media (width < 740px) {
                gap: 6px;
            }
        }

        .about-speed__courses-graph-line {
            width: 6px;
            height: 56px;
            border-radius: 6px;
            background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            position: relative;

            @media (width < 740px) {
                width: 4px;
                height: 44px;
            }
        }

        .about-speed__courses-graph-line-fill {
            width: 100%;
            background-color: var(--fill-total-white);
            border-radius: 6px;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .about-speed__courses-graph-line:nth-child(1) .about-speed__courses-graph-line-fill {
            height: 30%;
        }

        .about-speed__courses-graph-line:nth-child(2) .about-speed__courses-graph-line-fill {
            height: 50%;
        }

        .about-speed__courses-graph-line:nth-child(3) .about-speed__courses-graph-line-fill {
            height: 70%;
        }

        .about-speed__courses-graph-line:nth-child(4) .about-speed__courses-graph-line-fill {
            height: 90%;
        }

        .about-speed__courses-value {
            font-size: 40px;
            line-height: 110%;
            letter-spacing: -0.02em;
            margin-top: 24px;

            @media (width < 740px) {
                font-size: 32px;
                line-height: 120%;
                letter-spacing: -0.02em;
            }
        }

        .about-speed__courses-desc {
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0;
            margin-top: 8px;

            @media (width < 740px) {
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0;
            }
        }

