.agreement {
    padding-top: 86px;
    padding-bottom: 120px;
}
    .agreement__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .agreement__article {
        margin-top: 56px;
    }



@media (width < 740px) {

    .agreement {
        padding: 58px 0 88px;
    }
        .agreement__heading {

        }

        .agreement__article {
            margin-top: 48px;
        }
}
