.all-cases {
    position: relative;
    padding-top: var(--top-padding);
    padding-bottom: 136px;
}
    .all-cases__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .all-cases__filters {
        margin-top: 48px;
    }
        .all-cases__filters-ribbon {
            display: flex;
            align-items: stretch;
        }
            .all-cases__filters-list {
                display: flex;
                align-items: stretch;
                gap: 10px;
            }

            .all-cases__reset {
                margin-left: auto;
                padding-left: 24px;
            }
                .all-cases__reset .button {
                    padding-left: 23px;
                    padding-right: 23px;
                }

    .all-cases__list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 24px;
    }



@media (width < 740px) {

    .all-cases {
        padding-bottom: 80px;
    }
        .all-cases__heading {

        }

        .all-cases__filters {
            overflow-x: auto;
            margin-top: -60px; /* Даём баббликам больше места, чтобы скролл их не обрезал */
            padding-top: 108px;
        }

        @media (width < 422px) {
            .all-cases__filters {
                margin-left: calc(-1 * var(--container-padding));
                margin-right: calc(-1 * var(--container-padding));
            }
        }
            .all-cases__filters-ribbon {
                width: fit-content;
                padding-left: var(--container-padding);
                padding-right: var(--container-padding);
            }
                .all-cases__filters-list {

                }
                    /* Отменяем корректировку на прижатие баблов к краю экрана, внутри скроллабара она работает неправильно и в общем-то не нужна */
                    .all-cases__filters-list .bubble {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                        .all-cases__filters-list .bubble__chevron {
                            right: auto !important;
                            left: 50% !important;
                            margin-left: -11px !important;
                        }


                .all-cases__reset {

                }
                    .all-cases__reset .button {

                    }

        .all-cases__list {
            margin-top: 24px;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            gap: 16px;
        }
}
