.blog {
    position: relative;
    padding-top: var(--top-padding);
    padding-bottom: 136px;
}
    .blog__heading {
        margin-top: 0;
        margin-bottom: 0;
    }

    .blog__navigation {
        margin-top: 52px;
    }

    .blog__body {
        margin-top: 28px;
    }
        .blog__tab {
            display: none;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 48px 24px;
        }

        .blog__tab--current {
            display: grid;
            animation: slide-down var(--transition-slide);
        }



@media (width < 740px) {

    .blog {
        padding-bottom: 80px;
    }
        .blog__heading {

        }

        .blog__navigation {
            margin-top: 32px;
        }

        .blog__body {
            margin-top: 24px;
        }
            .blog__tab {
                grid-template-columns: repeat(1, minmax(0, 1fr));
                gap: 40px;
            }
}
