body {
    background-color: var(--bg-white-purple);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: var(--font);
    font-size: 16px;
    line-height: 22px;
}
