.breadcrumbs {
    position: relative;
    z-index: 100; /* выше блоков типа .all-cases (которые натягиваются поверх) */
    padding-top: 16px;
    margin-bottom: -52px;
}
    .breadcrumbs__scroll {

    }
        .breadcrumbs__ribbon {
            margin: 0;
            padding: 0;
            list-style: none;
        }
            .breadcrumbs__item {
                position: relative;
                padding-right: 20px;
                display: inline;
                vertical-align: baseline;
            }

            .breadcrumbs__item:last-child {
                padding-right: 0;
                flex-grow: 1;
                overflow: hidden; /* Имеет смысл на смартфонах, последний айтем -- сколько влезло, столько влезло */
            }
                .breadcrumbs__item::after {
                    content: "";
                    position: absolute;
                    right: 6px;
                    top: 5px;
                    width: 12px;
                    height: 12px;
                    background-image: url("../vectors/breadcrumbs-chevron.svg");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                .breadcrumbs__item:last-child::after {
                    display: none;
                }

                .breadcrumbs__link {
                    display: inline;
                    padding: var(--breadcrumbs-padding);
                    font-size: 12px;
                    line-height: 20px;
                    color: var(--accent-main-blue);
                    text-decoration: 1px underline transparent;
                    text-underline-offset: 3px;
                    transition: text-decoration-color var(--transition-hover);
                }

                .breadcrumbs__link:hover {
                    text-decoration-color: currentColor;
                }

                .breadcrumbs__title {
                    display: inline;
                    max-width: 600px;
                    padding: var(--breadcrumbs-padding);
                    font-size: 12px;
                    line-height: 20px;
                    color: var(--txt-simple-gray);
                }


@media (width < 740px) {

    .breadcrumbs {
        padding-top: 24px;
        margin-bottom: -30px;
    }
        .breadcrumbs__scroll {

        }
            .breadcrumbs__ribbon {

            }
                .breadcrumbs__item {

                }

                .breadcrumbs__item:last-child {

                }
                    .breadcrumbs__item::after {

                    }

                    .breadcrumbs__item:last-child::after {

                    }

                    .breadcrumbs__link {
                        font-size: 12px;
                        line-height: 16px;
                    }

                    .breadcrumbs__link:hover {

                    }

                    .breadcrumbs__title {
                        font-size: 12px;
                        line-height: 16px;
                    }
}

