.bubble {
    position: absolute;
    right: 50%;
    bottom: 100%;
    padding-bottom: 10px;
    border-bottom: 0 solid transparent; /* будет анимироваться */
    transform: translateX(50%);
    z-index: 100;
    display: block;
    width: fit-content;
    opacity: 0;
    visibility: hidden;
    cursor: text;
}
    .bubble__body {
        position: relative;
        z-index: 20;
        display: block;
        padding: 14px 16px;
        background-color: #FFFFFF;
        box-shadow: var(--modal-shadow);
        border-radius: 8px;
        font-family: var(--font);
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        line-height: 17px;
        color: var(--txt-dark-blue);
        white-space: nowrap;
        text-transform: none;
        text-align: left;
        text-indent: 0;
    }
        .bubble__heading {
            display: block;
            font-size: 14px;
            line-height: 20px;
        }

        .bubble__description {
            margin-top: 4px;
            display: block;
            font-size: 12px;
            line-height: 17px;
        }

        .bubble__link {
            margin-top: 2px;
            display: block;
            font-size: 12px;
            line-height: 17px;
        }

    .bubble__chevron {
        position: absolute;
        z-index: 20;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 22px;
        height: 14px;
        background-image: url("../vectors/bubble-angle.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }



.bubble--visible {
    opacity: 1;
    visibility: visible;
    border-bottom-width: 10px;
}


/* Если работаем мышью, то показываем c анимациями и по таймауту */
@media (hover: hover) {
    .bubble-context:hover .bubble {
        opacity: 1;
        visibility: visible;
        border-bottom-width: 10px; /* анимация смещения при наведении */
        transition: opacity 300ms ease 0.15s,
                    visibility 300ms ease 0.15s,
                    border-bottom-width 300ms ease 0.15s;
    }
}


