.button {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 16px 30px;
    min-width: 110px;
    background-color: var(--accent-main-blue);
    border-radius: 8px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-hover);
}

.button:hover {
    background-color: var(--accent-main-blue-2);
}

.button:active {
    translate: 0 1px;
    transition: none;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: var(--accent-main-blue-50);
    translate: none;
    cursor: default;
}



.button--secondary {
    background-color: var(--fill-total-white);
    color: var(--txt-dark-blue);
}

.button--secondary:hover {
    background-color: var(--fill-hover-white);
    color: var(--txt-dark-blue);
}

.button--secondary:disabled,
.button--secondary:disabled:hover,
.button--secondary:disabled:active {
    background-color: var(--fill-total-white);
    opacity: 50%;
}



.button--outline-blue {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border);
    color: var(--txt-dark-blue);
}

.button--outline-blue:hover {
    background-color: var(--fill-white-purple-darker-2);
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border);
    color: var(--txt-dark-blue);
}

.button--outline-blue:disabled,
.button--outline-blue:disabled:hover,
.button--outline-blue:disabled:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border);
    opacity: 50%;
}



.button--outline-white {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border-2);
    color: var(--txt-dark-blue);
}

.button--outline-white:hover {
    background-color: var(--fill-light-gray);
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border-2);
    color: var(--txt-dark-blue);
}

.button--outline-white:disabled,
.button--outline-white:disabled:hover,
.button--outline-white:disabled:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border-2);
    opacity: 50%;
}





.button--blur {
    background-color: var(--fill-total-white-15);
    color: var(--txt-dark-blue);
    backdrop-filter: blur(15px);
}

.button--blur:hover {
    background-color: var(--fill-total-white);
    color: var(--txt-dark-blue);
}

.button--blur:disabled,
.button--blur:disabled:hover,
.button--blur:disabled:active {
    background-color: var(--fill-total-white-15);
    backdrop-filter: blur(15px);
    opacity: 50%;
}



