.button {
    display: inline-flex; /* для иконок */
    align-items: center;
    justify-content: center;
    gap: 10px;
    vertical-align: top;
    border: none;
    padding: 16px 30px;
    min-width: 90px;
    height: 52px; /* Задаём высоту не только паддингом, но и явно на случай маленькой иконки внутри без текста (вертикальное центрирование) */
    background-color: var(--accent-main-blue);
    border-radius: 8px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    transition: background-color var(--transition-hover),
                color var(--transition-hover),
                box-shadow var(--transition-hover);
}

.button:hover {
    background-color: var(--accent-main-blue-2);
}


.button:disabled,
.button:disabled:hover,
.button:disabled:active {
    background-color: var(--accent-main-blue-50);
    translate: none;
    cursor: default;
}



.button--secondary {
    background-color: var(--fill-total-white);
    color: var(--txt-dark-blue);
}

.button--secondary:hover {
    background-color: var(--fill-hover-white);
    color: var(--txt-dark-blue);
}

.button--secondary:disabled,
.button--secondary:disabled:hover,
.button--secondary:disabled:active {
    background-color: var(--fill-total-white);
    opacity: 50%;
}



.button--outline-blue {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border);
    color: var(--txt-dark-blue);
}

.button--outline-blue:hover {
    background-color: var(--fill-white-purple-darker-2);
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border);
    color: var(--txt-dark-blue);
}

.button--outline-blue:disabled,
.button--outline-blue:disabled:hover,
.button--outline-blue:disabled:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border);
    opacity: 50%;
}



.button--outline-white {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border-2);
    color: var(--txt-dark-blue);
}

.button--outline-white:hover {
    background-color: var(--fill-light-gray);
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border-2);
    color: var(--txt-dark-blue);
}

.button--outline-white:disabled,
.button--outline-white:disabled:hover,
.button--outline-white:disabled:active {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--stroke-gray-border-2);
    opacity: 50%;
}





.button--blur {
    background-color: var(--fill-total-white-15);
    color: var(--txt-dark-blue);
    backdrop-filter: var(--blur-15);
}

.button--blur:hover {
    background-color: var(--fill-total-white);
    color: var(--txt-dark-blue);
}

.button--blur:disabled,
.button--blur:disabled:hover,
.button--blur:disabled:active {
    background-color: var(--fill-total-white-15);
    backdrop-filter: var(--blur-15);
    opacity: 50%;
}



/* В блоге, шаринг в соц.сети */

.button--share {
    background-color: transparent;
    color: var(--txt-dark-blue);
}

.button--share:hover {
    background-color: var(--fill-white-purple-darker-2);
    color: var(--txt-dark-blue);
}

@media (width < 740px) {

    .button--share {
        position: relative;
        min-width: 0;
        width: 40px;
        padding-left: 0;
        padding-right: 0;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }
        .button--share .button__icon {
            position: absolute;
            inset: 0;
            margin: auto;
        }
}



/* Больше скинов */

.button--header-action {
    background-color: transparent;
    color: var(--stroke-darkblue);
}

.button--header-action:hover {
    background-color: var(--fill-light-gray);
    color: var(--stroke-darkblue);
}



.button--product-action {
    background-color: var(--fill-total-white-15);
    color: var(--fill-total-white);
    backdrop-filter: var(--blur-15);
}

.button--product-action:hover {
    background-color: var(--fill-total-white);
    color: var(--stroke-darkblue);
}



.button--cleartype-action {
    background-color: transparent;
    color: var(--fill-dark-blue);
}

.button--cleartype-action:hover {
    background-color: transparent;
    color: var(--stroke-darkblue);
}



.button:has(.button__icon) {
    padding-left: 16px;
    padding-right: 16px;
}
    .button__icon {
        width: 20px;
        height: 20px;
        stroke: currentColor;
        transition: stroke var(--transition-hover);
    }


.button--square {
    min-width: 0 !important; /* Перебиваем все индивидуальные min-width, в вариациях */
    width: 52px;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
}



/* В чистом виде пока не встречалась (используется только квадратная). Можно добавь font-size и отступы */
.button--medium {
    height: 48px; /* Задаём высоту не только паддингом, но и явно на случай маленькой иконки внутри без текста (вертикальное центрирование) */
    border-radius: 6px;
}

.button--medium:has(.button__icon) {

}
    .button--medium .button__icon {
        width: 16px;
        height: 16px;
    }

.button--medium.button--square {
    min-width: 0;
    width: 48px;
    padding-left: 0;
    padding-right: 0;
}



.button--smaller {
    min-width: 80px;
    height: 44px; /* Задаём высоту не только паддингом, но и явно на случай маленькой иконки внутри без текста (вертикальное центрирование) */
    padding: 12px 30px;
    font-size: 14px;
    line-height: 20px;
}

.button--smaller:has(.button__icon) {
    gap: 8px;
    padding-left: 14px; /* В фигме не встречалось, так что на глаз */
    padding-right: 14px;
}
    .button--smaller .button__icon {
        width: 16px;
        height: 16px;
    }

.button--smaller.button--square {
    min-width: 0;
    width: 44px;
    padding-left: 0;
    padding-right: 0;
}



.button--micro {
    min-width: 70px;
    height: 40px; /* Задаём высоту не только паддингом, но и явно на случай маленькой иконки внутри без текста (вертикальное центрирование) */
    padding: 10px 20px; /* Пока что эта кнопка не встречалась с горизонтальным паддингом (всё время используется с width: 100%), можно задать нужный при встрече */
    font-size: 14px;
    line-height: 20px;
}

/* С иконкой пока не встречалась, можно задать размеры и отступы, если встретится: */
.button--micro:has(.button__icon) {
    gap: 8px;
    padding-left: 14px;
    padding-right: 14px;
}
    .button--micro .button__icon {
        width: 16px;
        height: 16px;
    }

.button--micro.button--square {
    min-width: 0;
    width: 44px;
    padding-left: 0;
    padding-right: 0;
}



