.carousel {

}
    .carousel {

    }
        .carousel__widget {

        }
            .carousel__widget .swiper {

            }
                .carousel__widget .swiper-wrapper {

                }
                    .carousel__widget .swiper-slide {
                        height: auto; /* Изначально в свайпере стоит 100%, что как раз наоборот не работает с align-items: stretch на родителе */
                    }



/* Скин для стрелок Top Right */

.carousel--css-top-right-arrows {
    position: relative;
}
    .carousel--css-top-right-arrows::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 48px;
        width: 104px;
        height: 56px;
        background-color: var(--fill-wite-purple-darker);
        border-radius: 8px;
    }

    .carousel--css-top-right-arrows .carousel__button {
        position: absolute;
        bottom: 100%;
        margin-bottom: 52px;
    }

    .carousel--css-top-right-arrows .carousel__button--prev {
        right: 52px;
    }

    .carousel--css-top-right-arrows .carousel__button--next {
        right: 4px;
    }


/* Скин для стрелок Inner */

.carousel--css-inner-arrows {
    position: relative;
}
    .carousel--css-inner-arrows .carousel__button {
        position: absolute;
        z-index: 10;
        top: 50%;
        margin-top: -24px;
    }

    .carousel--css-inner-arrows .carousel__button--prev {
        left: 16px;
    }

    .carousel--css-inner-arrows .carousel__button--next {
        right: 16px;
    }

@media (width < 740px) {
    .carousel--css-inner-arrows .carousel__button {
        display: none;
    }
}



/* Скин буллетов навигации Bottom White */

.carousel--css-bottom-gray-bullets {
    position: relative;
}
    .carousel--css-bottom-gray-bullets .carousel__pagination {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .carousel--css-bottom-gray-bullets .carousel__bullet {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px;
            cursor: pointer;
        }

        .carousel--css-bottom-gray-bullets .carousel__bullet--current {
            cursor: default;
        }
            .carousel--css-bottom-gray-bullets .carousel__bullet::after {
                content: "";
                transition: width 200ms ease;
                width: 6px;
                height: 6px;
                background-color: var(--fill-dark-blue-32);
                border-radius: 3px;
            }

            .carousel--css-bottom-gray-bullets .carousel__bullet:hover::after {
                background-color: var(--fill-dark-blue-80);
            }

            .carousel--css-bottom-gray-bullets .carousel__bullet--current::after {
                width: 24px;
                background-color: var(--fill-dark-blue);
            }




/* Карусель "Похожие кейсы" */

.carousel--css-skin-cases {

}

@media (740px <= width) {

    .carousel--css-skin-cases .carousel {

    }
        .carousel--css-skin-cases .carousel__widget {

        }
            .carousel--css-skin-cases .carousel__widget .swiper {
                overflow: visible; /* Разрешаем ленти карусели идти вправо до упора, до края экран. А там его обрежет родительский компонент .related */
            }
                .carousel--css-skin-cases .carousel__widget .swiper-wrapper {

                }
                    .carousel--css-skin-cases .swiper-slide {

                    }
}

@media (width < 740px) {

    /* Исходим из того, что на смартфонах эта карусель заблокирована
       классом carousel--css-disable-on-smartphone
       Остаётся добавить отступ и скрыть всё кроме первых двух элементов
     */

    .carousel--css-skin-cases .swiper-slide {
        margin-top: 8px;
    }

    .carousel--css-skin-cases .swiper-slide:first-child {
        margin-top: 0;
    }
}





/* Довольно запарно выключать слайдер на одном из разрешений.
   В данном случае на десктопах. Проще перебить пару стилей:
 */
.carousel--css-disable-on-desktop {

}

@media (740px <= width) {

    .carousel--css-disable-on-desktop {

    }
        .carousel--css-disable-on-desktop .carousel__widget .swiper {
            overflow: visible;
        }
            .carousel--css-disable-on-desktop .carousel__widget .swiper-wrapper {
                display: block !important;
                height: auto !important;
                transform: none !important;
            }
                .carousel--css-disable-on-desktop .swiper-slide {
                    width: auto !important;
                    margin-right: 0 !important;
                }

        .carousel--css-disable-on-desktop .carousel__pagination {
            display: none;
        }

        .carousel--css-disable-on-desktop::before {
            display: none; /* Фон под стрелочками в некоторых скинах */
        }

        .carousel--css-disable-on-desktop .carousel__button {
            display: none !important;
        }
}


/* Довольно запарно выключать слайдер на одном из разрешений.
   В данном случае на смартфонах. Проще перебить пару стилей:
 */
.carousel--css-disable-on-smartphone {

}

@media (width < 740px) {

    .carousel--css-disable-on-smartphone {

    }
        .carousel--css-disable-on-smartphone .carousel__widget .swiper {
            overflow: visible;
        }
            .carousel--css-disable-on-smartphone .carousel__widget .swiper-wrapper {
                display: block !important;
                height: auto !important;
                transform: none !important;
            }
                .carousel--css-disable-on-smartphone .swiper-slide {
                    width: auto !important;
                    margin-right: 0 !important;
                }

        .carousel--css-disable-on-smartphone .carousel__pagination {
            display: none;
        }

        .carousel--css-disable-on-smartphone::before {
            display: none; /* Фон под стрелочками в некоторых скинах */
        }

        .carousel--css-disable-on-smartphone .carousel__button {
            display: none !important;
        }
}

