.carousel {
    position: relative;
}
    .carousel {

    }
        .carousel__widget {

        }
            .carousel__widget .swiper {

            }
                .carousel__widget .swiper-wrapper {

                }
                    .carousel__widget .swiper-slide {
                        height: auto; /* Изначально в свайпере стоит 100%, что как раз наоборот не работает с align-items: stretch на родителе */
                    }

        .carousel__controls {
            display: flex;
        }

        /* По-умолчанию, на смартфонах стрелки отсутствуют: */

        @media (width < 740px) {

            .carousel__controls {
                display: none;
            }
        }
            .carousel__button {
                position: absolute;
                z-index: 10;
                top: 50%;
                margin-top: -24px;
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                background-color: var(--fill-total-white-20);
                backdrop-filter: var(--blur-20);
                border-radius: 6px;
                padding: 0;
                cursor: pointer;
                transition: background-color var(--transition-hover);
            }

            .carousel__button:hover {

            }

            .carousel__button:disabled {
                opacity: 50%;
                pointer-events: none;
            }

            .carousel__button--prev {
                left: 16px;
            }

            .carousel__button--next {
                right: 16px;
            }
                .carousel__chevron {
                    vertical-align: top;
                    fill: none;
                    stroke: #FFFFFF;
                    transition: stroke var(--transition-hover);
                }



        /* По-умолчанию белые точечки поверх слайдера: */

        .carousel__pagination.swiper-pagination-horizontal { /* Класс .swiper-pagination-horizontal нужен чтобы перебить стили оригинального селектора */
            position: absolute;
            z-index: 10;
            bottom: 0;
            left: 0;
            right: 0;
            width: auto;
            height: auto;
            display: flex; /* Уберёт пробелы, если тип fraction */
            align-items: center;
            justify-content: center;

            /* Если тип fraction: */
            min-width: 40px;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
            text-align: center;
        }
            .carousel__bullet {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px 4px;
                cursor: pointer;
            }

            .carousel__bullet--current {
                cursor: default;
            }
                .carousel__bullet::after {
                    content: "";
                    transition: width 200ms ease;
                    width: 6px;
                    height: 6px;
                    background-color: rgb(255 255 255 / 50%);
                    border-radius: 3px;
                }

                .carousel__bullet:hover::after {
                    background-color: rgb(255 255 255 / 80%);
                }

                .carousel__bullet--current::after,
                .carousel__bullet--current:hover::after {
                    width: 24px;
                    background-color: #FFFFFF;
                }


/* Серый скин для точек: */

.carousel--css-alt-bullets {

}
    .carousel--css-alt-bullets .carousel__pagination {
        position: static;
    }
        .carousel--css-alt-bullets .carousel__bullet {

        }

        .carousel--css-alt-bullets .carousel__bullet--current {

        }
            .carousel--css-alt-bullets .carousel__bullet::after {
                background-color: rgb(0 0 0 / 50%);
            }

            .carousel--css-alt-bullets .carousel__bullet:hover::after {
                background-color: rgb(0 0 0 / 80%);
            }

            .carousel--css-alt-bullets .carousel__bullet--current::after,
            .carousel--css-alt-bullets .carousel__bullet--current:hover::after {
                background-color: #000000;
            }

    /* Поскольку точки изменяют высоту карусели, нужно изменить смещение кнопок завясящих от top: 50% */
    .carousel--css-alt-bullets .carousel__button {
        margin-top: -43px;
    }



.carousel--css-alt-arrows {

}

@media (width < 740px) {

    /* По-умолчанию, на смартфонах стрелки отсутствуют. В этой версии включаем их: */
    .carousel--css-alt-arrows .carousel__controls {
        display: block;
    }
}
    .carousel--css-alt-arrows .carousel__navigation {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .carousel--css-alt-arrows .carousel__button {
        position: relative;
        /*z-index: 10;*/
        inset: auto;
        margin: 0;
        width: 60px;
        height: 38px;
        /*display: flex;*/
        /*align-items: center;*/
        /*justify-content: center;*/
        /*border: none;*/
        background-color: transparent;
        backdrop-filter: none;
        /*border-radius: 6px;*/
        /*padding: 0;*/
        /*cursor: pointer;*/
        /*transition: background-color var(--transition-hover);*/
    }

    .carousel--css-alt-arrows .carousel__button:hover {

    }

    .carousel--css-alt-arrows .carousel__button:disabled {
        /*opacity: 50%;*/
        /*pointer-events: none;*/
    }

    .carousel--css-alt-arrows .carousel__button--prev {

    }

    .carousel--css-alt-arrows .carousel__button--next {

    }
        .carousel--css-alt-arrows .carousel__button::before {
            content: "";
            position: absolute;
            inset: 0;
            margin: 4px;
            border-radius: 4px;
            transition: background-color var(--transition-hover);
        }

        .carousel--css-alt-arrows .carousel__button:hover::before {
            background-color: var(--fill-blue-gray-2);
        }

        .carousel--css-alt-arrows .carousel__chevron {
            position: relative;
            /*vertical-align: top;*/
            /*fill: none;*/
            stroke: #000000;
            /*transition: stroke var(--transition-hover);*/
        }















/* Скин Thanks */

.carousel--css-skin-thanks {

}
    .carousel--css-skin-thanks .carousel__widget {

    }
        .carousel--css-skin-thanks .swiper {
            border-radius: 16px; /* чтобы при двежении слайдов углы не заполнялись их фоном */
            overflow: hidden;
        }

    @media (740px <= width) {

        .carousel--css-skin-thanks .carousel__pagination {
            position: absolute;
            right: auto;
            left: 32px;
            bottom: 53px;
        }
    }

    @media (width < 740px) {

        .carousel--css-skin-thanks .carousel__pagination {
            bottom: 16px;
        }
    }

    .carousel--css-skin-thanks .carousel__controls {
        position: absolute;
        z-index: 10;
        right: 40px;
        bottom: 40px;
        padding: 4px;
        backdrop-filter: var(--blur-20);
        background-color: rgb(255 255 255 / 50%);
        border-radius: 8px;
    }
        .carousel--css-skin-thanks .carousel__button {
            position: static;
            backdrop-filter: none;
            background-color: transparent;
            margin: 0;
            width: 40px;
            height: 40px;
        }

        .carousel--css-skin-thanks .carousel__button:hover {
            background-color: #FFFFFF;
        }

        .carousel--css-skin-thanks .carousel__button--prev {

        }

        .carousel--css-skin-thanks .carousel__button--next {

        }
            .carousel--css-skin-thanks .carousel__chevron {
                width: 12px;
                height: 12px;
                stroke: #FFFFFF;
            }

            .carousel--css-skin-thanks .carousel__button:hover .carousel__chevron {
                stroke: var(--stroke-darkblue);
            }



 /* Скин Cases */

.carousel--css-skin-cases {

}
    .carousel--css-skin-cases .carousel__widget {

    }
        .carousel--css-skin-cases .swiper {
            overflow: visible; /* Разрешаем ленте карусели идти вправо до упора (до края экран). А там его обрежет родительский компонент .related */
        }

        @media (width < 740px) {

            /* Исходим из того, что на смартфонах эта карусель заблокирована
               классом carousel--css-disable-on-smartphone
               Остаётся добавить отступ и скрыть всё кроме первых двух элементов
             */

            .carousel--css-skin-cases .swiper-slide {
                margin-top: 8px;
            }

            .carousel--css-skin-cases .swiper-slide:first-child {
                margin-top: 0;
            }
        }


    .carousel--css-skin-cases .carousel__controls {
        position: absolute;
        z-index: 10;
        right: 0;
        bottom: 100%;
        margin-bottom: 48px;
        padding: 4px;
        background-color: var(--fill-wite-purple-darker);
        border-radius: 8px;
    }
        .carousel--css-skin-cases .carousel__button {
            position: static;
            backdrop-filter: none;
            background-color: transparent;
            margin: 0;
        }

        .carousel--css-skin-cases .carousel__button:hover {
            background-color: #FFFFFF;
        }

        .carousel--css-skin-cases .carousel__button--prev {

        }

        .carousel--css-skin-cases .carousel__button--next {

        }
            .carousel--css-skin-cases .carousel__chevron {
                stroke: var(--fill-dark-blue);
            }



/* Скин Announcement body */

.carousel--css-skin-announcement-body {
    overflow: hidden;
}
    .carousel--css-skin-announcement-body .carousel__widget {

    }


    .carousel--css-skin-announcement-body .carousel__controls {
        position: absolute;
        z-index: 10;
        right: 40px;
        top: 40px;
        padding: 4px;
        background-color: var(--fill-total-white-15);
        border-radius: 8px;
    }
        .carousel--css-skin-announcement-body .carousel__button {
            position: static;
            backdrop-filter: none;
            background-color: transparent;
            margin: 0;
            width: 40px;
            height: 40px;
        }

        .carousel--css-skin-announcement-body .carousel__button:hover {
            background-color: #FFFFFF;
        }

        .carousel--css-skin-announcement-body .carousel__button--prev {

        }

        .carousel--css-skin-announcement-body .carousel__button--next {

        }
            .carousel--css-skin-announcement-body .carousel__chevron {
                width: 12px;
                height: 12px;
                stroke: #FFFFFF;
            }

            .carousel--css-skin-announcement-body .carousel__button:hover .carousel__chevron {
                stroke: var(--fill-dark-blue);
            }


    @media (740px <= width) {

        .carousel--css-skin-announcement-body .carousel__pagination {
            position: absolute;
            z-index: 10;
            left: 32px; /* !important потому что конфлик с оригинальными стилями свайпера */
            top: 53px; /* !important потому что конфлик с оригинальными стилями свайпера */
            bottom: auto;
            right: auto;
        }
    }



/* Скин Announcement body */

.carousel--css-skin-thermometer {
    overflow: hidden; /* Обрезаем и саму ленту, и уголки фейдящего градиента по бордер-радиусу */
    background-color: var(--fill-wite-purple-darker);
    border-radius: 12px;
    padding: 6px;
}
    .carousel--css-skin-thermometer .carousel__widget {

    }
        .carousel--css-skin-thermometer .swiper {
            overflow: visible;
        }
            .carousel--css-skin-thermometer .swiper-wrapper {

            }
                .carousel--css-skin-thermometer .swiper-slide {
                    width: auto;
                }


    .carousel--css-skin-thermometer .carousel__controls {

    }
        .carousel--css-skin-thermometer .carousel__button {
            position: absolute;
            z-index: 10;
            top: 0;
            margin-top: 0;
            bottom: 0;
            width: 56px;
            height: auto;
            background-color: transparent;
            backdrop-filter: none;
            border-radius: 8px;
        }

        .carousel--css-skin-thermometer .carousel__button:hover {
            background-color: transparent;
        }

        .carousel--css-skin-thermometer .carousel__button:disabled {
            opacity: 0;
            visibility: hidden;
        }

        .carousel--css-skin-thermometer .carousel__button--prev {
            left: 0;
        }

        .carousel--css-skin-thermometer .carousel__button--next {
            right: 0;
        }
            .carousel--css-skin-thermometer .carousel__button::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                display: block;
                width: 127px;
                pointer-events: none;
            }

            .carousel--css-skin-thermometer .carousel__button--prev::before {
                left: 0;
                background-image: linear-gradient(to right, rgb(240 239 245 / 100%), rgb(240 239 245 / 100%) 21%, rgb(240 239 245 / 0%) 94%, rgb(240 239 245 / 0%));
            }

            .carousel--css-skin-thermometer .carousel__button--next::before {
                right: 0;
                background-image: linear-gradient(to left, rgb(240 239 245 / 100%), rgb(240 239 245 / 100%) 21%, rgb(240 239 245 / 0%) 94%, rgb(240 239 245 / 0%));
            }

            .carousel--css-skin-thermometer .carousel__chevron {
                position: relative;
                width: 16px;
                height: 16px;
                stroke: var(--stroke-darkblue);
            }

            .carousel--css-skin-thermometer .carousel__button:hover .carousel__chevron {
                stroke: var(--fill-dark-blue);
            }



@media (width < 740px) {

    .carousel--css-skin-thermometer {
        /*overflow: hidden; !* Обрезаем и саму ленту, и уголки фейдящего градиента по бордер-радиусу *!*/
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        overflow-x: auto;
        margin-left: calc(-1 * var(--container-padding));
        margin-right: calc(-1 * var(--container-padding));
    }
        .carousel--css-skin-thermometer .carousel__widget {
            display: inline-block;
            padding-left: var(--container-padding);
            padding-right: var(--container-padding);
        }
            .carousel--css-skin-thermometer .swiper {
                background-color: var(--fill-wite-purple-darker);
                border-radius: 12px;
                padding: 6px;
            }
                .carousel--css-skin-thermometer .swiper-wrapper {

                }
                    .carousel--css-skin-thermometer .swiper-slide {
                        /*width: auto;*/
                    }


        .carousel--css-skin-thermometer .carousel__controls {

        }
            .carousel--css-skin-thermometer .carousel__button {
                /*position: absolute;*/
                /*z-index: 10;*/
                /*top: 0;*/
                /*margin-top: 0;*/
                /*bottom: 0;*/
                /*width: 56px;*/
                /*height: auto;*/
                /*background-color: transparent;*/
                /*backdrop-filter: none;*/
                /*border-radius: 8px;*/
            }

            .carousel--css-skin-thermometer .carousel__button:hover {
                /*background-color: transparent;*/
            }

            .carousel--css-skin-thermometer .carousel__button:disabled {
                /*opacity: 0;*/
                /*visibility: hidden;*/
            }

            .carousel--css-skin-thermometer .carousel__button--prev {
                /*left: 0;*/
            }

            .carousel--css-skin-thermometer .carousel__button--next {
                /*right: 0;*/
            }
                .carousel--css-skin-thermometer .carousel__button::before {
                    /*content: "";*/
                    /*position: absolute;*/
                    /*top: 0;*/
                    /*bottom: 0;*/
                    /*display: block;*/
                    /*width: 127px;*/
                    /*pointer-events: none;*/
                }

                .carousel--css-skin-thermometer .carousel__button--prev::before {
                    /*left: 0;*/
                    /*background-image: linear-gradient(to right, rgb(240 239 245 / 100%), rgb(240 239 245 / 100%) 21%, rgb(240 239 245 / 0%) 94%, rgb(240 239 245 / 0%));*/
                }

                .carousel--css-skin-thermometer .carousel__button--next::before {
                    /*right: 0;*/
                    /*background-image: linear-gradient(to left, rgb(240 239 245 / 100%), rgb(240 239 245 / 100%) 21%, rgb(240 239 245 / 0%) 94%, rgb(240 239 245 / 0%));*/
                }

                .carousel--css-skin-thermometer .carousel__chevron {
                    /*position: relative;*/
                    /*width: 16px;*/
                    /*height: 16px;*/
                    /*stroke: var(--stroke-darkblue);*/
                }

                .carousel--css-skin-thermometer .carousel__button:hover .carousel__chevron {
                    /*stroke: var(--fill-dark-blue);*/
                }
}




/* Довольно запарно выключать слайдер на одном из разрешений.
   В данном случае на десктопах. Проще перебить пару стилей:
 */
.carousel--css-disable-on-desktop {

}

@media (740px <= width) {

    .carousel--css-disable-on-desktop {

    }
        .carousel--css-disable-on-desktop .swiper {
            overflow: visible;
        }
            .carousel--css-disable-on-desktop .swiper-wrapper {
                display: block !important;
                height: auto !important;
                transform: none !important;
            }
                .carousel--css-disable-on-desktop .swiper-slide {
                    width: auto !important;
                    margin-right: 0 !important;
                }

        .carousel--css-disable-on-desktop .carousel__pagination {
            display: none;
        }

        .carousel--css-disable-on-desktop::before {
            display: none; /* Фон под стрелочками в некоторых скинах */
        }

        .carousel--css-disable-on-desktop .carousel__button {
            display: none !important;
        }
}


/* Довольно запарно выключать слайдер на одном из разрешений.
   В данном случае на смартфонах. Проще перебить пару стилей:
 */
.carousel--css-disable-on-smartphone {

}

@media (width < 740px) {

    .carousel--css-disable-on-smartphone {

    }
        .carousel--css-disable-on-smartphone .swiper {
            overflow: visible;
        }
            .carousel--css-disable-on-smartphone .swiper-wrapper {
                display: block !important;
                height: auto !important;
                transform: none !important;
            }
                .carousel--css-disable-on-smartphone .swiper-slide {
                    width: auto !important;
                    margin-right: 0 !important;
                }

        .carousel--css-disable-on-smartphone .carousel__pagination {
            display: none;
        }

        .carousel--css-disable-on-smartphone::before {
            display: none; /* Фон под стрелочками в некоторых скинах */
        }

        .carousel--css-disable-on-smartphone .carousel__button {
            display: none !important;
        }
}

