.carousel {
    position: relative;
}
    .carousel {

    }
        .carousel__widget {

        }
            .carousel__widget .swiper {

            }
                .carousel__widget .swiper-wrapper {

                }
                    .carousel__widget .swiper-slide {
                        height: auto; /* Изначально в свайпере стоит 100%, что как раз наоборот не работает с align-items: stretch на родителе */
                    }

        .carousel__controls {
            display: flex;
            align-items: flex-start;
        }
            .carousel__button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                padding: 0;
                cursor: pointer;
            }

            .carousel__button--disabled {
                cursor: default;
            }
                .carousel__chevron {
                    vertical-align: top;
                }


        /* По-умолчанию белые точечки поверх слайдера: */

        .carousel__pagination {
            position: absolute;
            z-index: 10;
            bottom: 0 !important; /* !important потому что конфлик с оригинальными стилями свайпера */
            left: 0 !important; /* !important потому что конфлик с оригинальными стилями свайпера */
            right: 0 !important; /* !important потому что конфлик с оригинальными стилями свайпера */
            width: auto !important; /* !important потому что конфлик с оригинальными стилями свайпера */
            height: auto !important; /* !important потому что конфлик с оригинальными стилями свайпера */
            display: flex; /* Уберёт пробелы, если тип fraction */
            align-items: center;
            justify-content: center;
            font-size: 16px; /* Если тип fraction */
            line-height: 22px;
        }
            .carousel__bullet {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px 4px;
                cursor: pointer;
            }

            .carousel__bullet--current {
                cursor: default;
            }
                .carousel__bullet::after {
                    content: "";
                    transition: width 200ms ease;
                    width: 6px;
                    height: 6px;
                    background-color: rgb(255 255 255 / 50%);
                    border-radius: 3px;
                }

                .carousel__bullet:hover::after {
                    background-color: rgb(255 255 255 / 80%);
                }

                .carousel__bullet--current::after,
                .carousel__bullet--current:hover::after {
                    width: 24px;
                    background-color: #FFFFFF;
                }


 /* Скин Article Gallery */

.carousel--css-article-gallery {
    position: relative;
}
    .carousel--css-article-gallery .carousel__pagination {
        position: static !important;
    }
        .carousel--css-article-gallery .carousel__bullet {

        }

        .carousel--css-article-gallery .carousel__bullet--current {

        }
            .carousel--css-article-gallery .carousel__bullet::after {
                background-color: var(--fill-dark-blue-32);
            }

            .carousel--css-article-gallery .carousel__bullet:hover::after {
                background-color: var(--fill-dark-blue-80);
            }

            .carousel--css-article-gallery .carousel__bullet--current::after {
                background-color: var(--fill-dark-blue);
            }


    .carousel--css-article-gallery .carousel__button {
        position: absolute;
        z-index: 10;
        top: 50%;
        margin-top: calc(-1 * var(--carousel-arrow-button-heigt) / 2);
    }

    .carousel--css-article-gallery:has(.carousel__pagination) .carousel__button {
        margin-top: calc(-1 * (var(--carousel-arrow-button-heigt) + var(--carousel-pagination-height)) / 2);
    }

    .carousel--css-article-gallery .carousel__button--prev {
        left: 16px;
    }

    .carousel--css-article-gallery .carousel__button--next {
        right: 16px;
    }

    @media (width < 740px) {

        .carousel--css-article-gallery .carousel__button {
            display: none;
        }
    }





/* Скин для стрелок Top Right */

.carousel--css-top-right-arrows {
    position: relative;
}
    .carousel--css-top-right-arrows::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 100%;
        margin-bottom: 48px;
        width: 104px;
        height: 56px;
        background-color: var(--fill-wite-purple-darker);
        border-radius: 8px;
    }

    .carousel--css-top-right-arrows .carousel__button {
        position: absolute;
        bottom: 100%;
        margin-bottom: 52px;
    }

    .carousel--css-top-right-arrows .carousel__button--prev {
        right: 52px;
    }

    .carousel--css-top-right-arrows .carousel__button--next {
        right: 4px;
    }




/* Карусель "Похожие кейсы" */

.carousel--css-skin-cases {

}

@media (740px <= width) {

    .carousel--css-skin-cases .carousel {

    }
        .carousel--css-skin-cases .carousel__widget {

        }
            .carousel--css-skin-cases .swiper {
                overflow: visible; /* Разрешаем ленте карусели идти вправо до упора (до края экран). А там его обрежет родительский компонент .related */
            }
                .carousel--css-skin-cases .swiper-wrapper {

                }
                    .carousel--css-skin-cases .swiper-slide {

                    }
}

@media (width < 740px) {

    /* Исходим из того, что на смартфонах эта карусель заблокирована
       классом carousel--css-disable-on-smartphone
       Остаётся добавить отступ и скрыть всё кроме первых двух элементов
     */

    .carousel--css-skin-cases .swiper-slide {
        margin-top: 8px;
    }

    .carousel--css-skin-cases .swiper-slide:first-child {
        margin-top: 0;
    }
}



/* Скин Main Slider Background */

.carousel--css-skin-main-slider-background {

}



/* Скин Announcement body */

.carousel--css-skin-announcement-body {
    overflow: hidden;
}
    @media (740px <= width) {

        .carousel--css-skin-announcement-body .carousel__pagination {
            position: absolute;
            z-index: 20;
            left: 40px !important; /* !important потому что конфлик с оригинальными стилями свайпера */
            top: 53px !important; /* !important потому что конфлик с оригинальными стилями свайпера */
            bottom: auto !important;
            right: auto !important;
            font-size: 16px;
            line-height: 22px;
        }

        .carousel--css-skin-announcement-body .carousel__controls {
            position: absolute;
            z-index: 20;
            right: 40px !important; /* !important потому что конфлик с оригинальными стилями свайпера */
            top: 40px !important; /* !important потому что конфлик с оригинальными стилями свайпера */
            padding: 4px;
            background-color: var(--fill-total-white-15);
            border-radius: 8px;
        }
            .carousel--css-skin-announcement-body .carousel__button {

            }
    }


@media (width < 740px) {

    .carousel--css-skin-announcement-body .carousel__pagination {
        bottom: 8px !important;
    }

    .carousel--css-skin-announcement-body .carousel__controls {
        display: none;
    }
}





/* Довольно запарно выключать слайдер на одном из разрешений.
   В данном случае на десктопах. Проще перебить пару стилей:
 */
.carousel--css-disable-on-desktop {

}

@media (740px <= width) {

    .carousel--css-disable-on-desktop {

    }
        .carousel--css-disable-on-desktop .swiper {
            overflow: visible;
        }
            .carousel--css-disable-on-desktop .swiper-wrapper {
                display: block !important;
                height: auto !important;
                transform: none !important;
            }
                .carousel--css-disable-on-desktop .swiper-slide {
                    width: auto !important;
                    margin-right: 0 !important;
                }

        .carousel--css-disable-on-desktop .carousel__pagination {
            display: none;
        }

        .carousel--css-disable-on-desktop::before {
            display: none; /* Фон под стрелочками в некоторых скинах */
        }

        .carousel--css-disable-on-desktop .carousel__button {
            display: none !important;
        }
}


/* Довольно запарно выключать слайдер на одном из разрешений.
   В данном случае на смартфонах. Проще перебить пару стилей:
 */
.carousel--css-disable-on-smartphone {

}

@media (width < 740px) {

    .carousel--css-disable-on-smartphone {

    }
        .carousel--css-disable-on-smartphone .swiper {
            overflow: visible;
        }
            .carousel--css-disable-on-smartphone .swiper-wrapper {
                display: block !important;
                height: auto !important;
                transform: none !important;
            }
                .carousel--css-disable-on-smartphone .swiper-slide {
                    width: auto !important;
                    margin-right: 0 !important;
                }

        .carousel--css-disable-on-smartphone .carousel__pagination {
            display: none;
        }

        .carousel--css-disable-on-smartphone::before {
            display: none; /* Фон под стрелочками в некоторых скинах */
        }

        .carousel--css-disable-on-smartphone .carousel__button {
            display: none !important;
        }
}

