.case {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.case--enlarged-on-hover {
    transition: transform 200ms ease;
}

.case--enlarged-on-hover:hover {
    transform: scale(105%);
}
    .case__preview {
        position: relative;
        display: block;
        overflow: hidden;
        border-radius: 12px;
    }
        .case__illustration {
            vertical-align: top;
            width: 100%;
            aspect-ratio: 348/264;
            object-fit: cover;
        }

        .case__badges {
            position: absolute;
            left: 16px;
            top: 16px;
            display: flex;
            align-items: flex-start;
            gap: 6px;
        }

        .case__screenshot-wrap {
            position: absolute;
            inset: 0;
            padding: 29px 42px;
            opacity: 0;
            backdrop-filter: var(--background-blur);
            visibility: hidden;
            transition: opacity 200ms ease,
                        visibility 200ms ease;
        }

        .case__preview:hover .case__screenshot-wrap {
            opacity: 100%;
            visibility: visible;
        }
            .case__screenshot {
                position: absolute;
                object-fit: cover;
                border-radius: 12px;
            }

    .case__body {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 8px 16px 22px;
    }
        .case__filters {
            display: flex;
            align-items: flex-start;
        }
            .case__filter-item {
                position: relative;
                padding-left: 22px;
            }

            .case__filter-item:first-child {
                padding-left: 0;
            }
                .case__filter-item::before {
                    content: "";
                    position: absolute;
                    left: 8px;
                    top: 15px;
                    width: 6px;
                    height: 6px;
                    background-color: var(--fill-white-purple-darker-2);
                    border-radius: 50%;
                }

                .case__filter-item:first-child::before {
                    display: none;
                }

                .case__filter-link {
                    display: block;
                    width: fit-content;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    font-size: 14px;
                    line-height: 20px;
                    color: var(--accent-main-blue);
                    text-decoration: 1px underline transparent;
                    text-underline-offset: 4px;
                }

                .case__filter-link:hover {
                    text-decoration-color: currentColor;
                }

        .case__heading {
            margin-top: 4px;
            margin-bottom: 0;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: -0.5px;
        }
            .case__link {
                padding-top: 4px;
                padding-bottom: 4px;
                color: inherit;
                text-decoration: 1.5px underline transparent;
                text-underline-offset: 3px;
            }

            .case__link:hover {
                text-decoration-color: currentColor;
            }

        .case__description {
            margin-top: 12px;
            font-size: 16px;
            line-height: 22px;

            /* Возможный вариант с обрезанием текста в две строки */
            /*display: -webkit-box;*/
            /*-webkit-line-clamp: 2;*/
            /*-webkit-box-orient: vertical;*/
            /*overflow: hidden;*/
            /*text-overflow: ellipsis;*/
        }

        .case__data {
            margin-top: auto;
            padding-top: 24px;
            margin-left: -2px; /* визуально чуть лучше */
        }
            .case__stat {
                margin-top: 10px;
            }

            .case__stat:first-child {
                margin-top: 0;
            }
                .case__param {
                    display: inline;
                    vertical-align: baseline;
                    font-weight: 300;
                    font-size: 40px;
                    line-height: 48px;
                    letter-spacing: -0.25px;
                }

                .case__value {
                    position: relative;
                    top: -1px; /* визуально чуть лучше */
                    margin-left: 4px;
                    display: inline;
                    vertical-align: baseline;
                    font-size: 14px;
                    line-height: 20px;
                }

        .case__details {
            position: absolute;
            right: 16px;
            bottom: 16px;
        }



@media (width < 740px) {

    .case {

    }

    .case--enlarged-on-hover {

    }

    .case--enlarged-on-hover:hover {

    }
        .case__preview {

        }
            .case__illustration {

            }

            .case__badges {

            }

            .case__screenshot-wrap {

            }

            .case__preview:hover .case__screenshot-wrap {

            }
                .case__screenshot {

                }

        .case__body {
            padding-bottom: 16px;
        }
            .case__filters {

            }
                .case__filter-item {

                }

                .case__filter-item:first-child {

                }
                    .case__filter-item::before {
                        top: 13px;
                    }

                    .case__filter-item:first-child::before {

                    }

                    .case__filter-link {
                        font-size: 12px;
                        line-height: 17px;
                    }

                    .case__filter-link:hover {

                    }

            .case__heading {
                margin-top: 2px;
            }
                .case__link {

                }

                .case__link:hover {

                }

            .case__description {
                margin-top: 10px;
                font-size: 14px;
                line-height: 20px;
            }

            .case__data {
                padding-top: 20px;
            }
                .case__stat {

                }

                .case__stat:first-child {

                }
                    .case__param {
                        font-size: 32px;
                        line-height: 38px;
                    }

                    .case__value {

                    }

            .case__details {

            }
}
