.choice {
    position: relative;
    display: block;
    width: fit-content;
    min-width: 20px;
    min-height: 32px;
}
    .choice__widget {
        opacity: 0;
        position: absolute;
        left: 2px;
        top: 11px;
    }

    .choice__label {
        position: relative;
        display: block;
        padding: 6px 0 6px 28px;
        font-size: 16px;
        line-height: 22px;
        color: var(--txt-dark-blue);
        cursor: pointer;
        user-select: none;
    }

    .choice__icon {
        position: absolute;
        left: 0;
        top: 6px;
        width: 20px;
        height: 20px;
        border: 1px solid var(--stroke-blue-50);
        background-color: #FFFFFF;
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 4px;
        pointer-events: none; /* Since this icon is positioned higher than label, let's make it possible to click through, so that the user interacts only with the label. For now, this icon won't generate its own cursor, for example. */
        transition: background-color var(--transition-hover),
                    border-color var(--transition-hover);
    }

    .choice__widget[type="checkbox"] ~ .choice__icon {

    }

    .choice__widget[type="radio"] ~ .choice__icon {
        border-radius: 50%;
    }


/* Hovered */

.choice__label:hover ~ .choice__icon {
    background-color: var(--accent-main-blue-15);
    /*border-color: var(--input-border-hover-and-focus);*/
}


/* Checked */

.choice__widget:checked ~ .choice__icon {
    transition: none;
    background-color: var(--accent-main-blue);
    border-color: transparent;
}
    .choice__widget[type="checkbox"]:checked ~ .choice__icon {
        background-image: url("../vectors/choice-checkbox.svg"); /* by default it can't be seen because of white background */
    }

    .choice__widget[type="radio"]:checked ~ .choice__icon {
        background-image: url("../vectors/choice-radio.svg"); /* by default it can't be seen because of white background */
    }


/* Checked & Hovered */

.choice__widget:checked ~ .choice__label:hover ~ .choice__icon {
    background-color: var(--accent-main-blue-80);
}

.choice__widget[type="radio"]:checked ~ .choice__label {
    cursor: default; /* checked radio button can’t be hovered */
}

.choice__widget[type="radio"]:checked ~ .choice__label:hover ~ .choice__icon {
    background-color: var(--accent-main-blue); /* checked radio button can’t be hovered, so taket the original color back */
}


/* Focused */

.choice__widget:focus-visible ~ .choice__icon {
    outline: auto;
}


/* Disabled */
.choice__widget:disabled ~ .choice__label {
    cursor: default;
    opacity: 50%;
}

.choice__widget:disabled ~ .choice__icon,
.choice__widget:disabled ~ .choice__label:hover ~ .choice__icon {
    background-color: transparent;
    border-color: var(--fill-blue-gray-1);
}

.choice__widget:disabled:checked ~ .choice__icon,
.choice__widget:disabled:checked ~ .choice__label:hover ~ .choice__icon {
    background-color: var(--fill-blue-gray-1);
    border-color: transparent;
}



.choice--card {
    min-height: 54px;
}
    .choice--card .choice__icon {
        left: 16px;
        top: 17px;
    }

    .choice--card .choice__label {
        border: 1px solid var(--stroke-gray-border-2);
        border-radius: 8px;
        padding: 15px 20px 15px 46px;
    }


    /* Отменяем оригинальный ховер */
    .choice--card .choice__label:hover ~ .choice__icon {
        background-color: transparent;
    }

    .choice--card .choice__widget:checked ~ .choice__label:hover ~ .choice__icon {
        background-color: var(--accent-main-blue);
    }

    /* добавляем ховер специфичный для варианта card */
    .choice--card .choice__label:hover {
        border-color: var(--stroke-gray-border);
    }

    .choice__widget[type="radio"]:checked ~ .choice__label {
        border-color: var(--stroke-gray-border-2);
    }



.choice--full-width {
    width: 100%;
}

.choice--smaller {

}
    .choice--smaller .choice__icon {
        width: 16px;
        height: 16px;
    }

    .choice--smaller .choice__label {
        padding-left: 24px;
        font-size: 12px;
        line-height: 17px;
    }
