.clients {
    padding-top: 100px;
    padding-bottom: 120px;
}
    .clients__head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
        .clients__heading {
            margin-top: 7px;
            margin-bottom: 0;
        }

        .clients__categories {

        }

    .clients__body {
        margin-top: 48px;
    }
        .clients__tab {
            display: none;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 24px;
        }

        .clients__tab--current {
            display: grid;
        }

            .clients__item {
                padding-top: 10px; /* на десктопах плитки чуть более квадратные */
                padding-bottom: 10px; /* на десктопах плитки чуть более квадратные */
                background-color: var(--fill-wite-purple-darker);
                border-radius: 16px;
                transition: background-color var(--transition-hover),
                            transform var(--transition-hover);
            }

            .clients__item:hover {
                background-color: var(--fill-total-white);
                transform: scale(102%);
            }
                .clients__logo {
                    vertical-align: top;
                    width: 100%;
                    height: auto;
                    filter: grayscale(100%);
                    opacity: 40%;
                    transition: filter var(--transition-hover),
                                opacity var(--transition-hover);
                }

                .clients__item:hover .clients__logo {
                    filter: grayscale(0);
                    opacity: 100%;
                }



@media (width < 740px) {

    .clients {
        padding-top: 72px;
        padding-bottom: 88px;
    }
        .clients__head {
            display: block;
        }
            .clients__heading {
                margin-top: 0;
            }

            .clients__categories {
                margin-top: 32px;
            }


        .clients__body {
            margin-top: 16px;
        }
            .clients__tab {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 16px;
            }
                .clients__item {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                .clients__item:hover {

                }

                    .clients__logo {

                    }

                    .clients__item:hover .clients__logo {

                    }
}
