.comment {
    padding-left: 25px;
    border-left: 3px solid var(--accent-main-blue);
}
    .comment__body {

    }

    .comment__author {
        margin-top: 40px;
        font-size: 16px;
        line-height: 22px;
    }
        .comment__name {
            font-weight: 500;
        }



@media (width < 740px) {

    .comment {

    }
        .comment__body {

        }

        .comment__author {
            margin-top: 32px;
            font-size: 14px;
            line-height: 20px;
        }
            .comment__name {

            }
}
