.container {
    width: 1140px;
    border-left: var(--container-padding) solid transparent;
    border-right: var(--container-padding) solid transparent;
    margin-left: auto;
    margin-right: auto;
}

.container--wide {
    width: 100%;
    max-width: 1280px;
}

@media (width < 740px) {

    .container {
        width: auto;
    }
}
