.explain {
    position: relative; /* для баблов внутри */
    display: inline-block;
    vertical-align: top;
}
    .explain__icon {
        display: inline-block;
        vertical-align: top;
        width: 40px;
        height: 40px;
        padding: 14px;
        border: none;
        background-color: transparent;
        background-image: url("../vectors/explain.svg");
        background-size: 16px 16px;
        background-position: center center;
        background-repeat: no-repeat;
        text-indent: 300%;
        white-space: nowrap;
        overflow: hidden;
        cursor: help;
    }

    .explain__popover,
    .explain__popover.bubble {
        position: absolute;
        right: 50%;
        bottom: calc(100% - 2px);
        transform: translateX(50%);
    }



.explain--larger {

}
    .explain--larger .explain__icon {
        background-image: url("../vectors/explain-large.svg");
        background-size: 32px 32px;
    }

    .explain--larger .explain__popover,
    .explain--larger .explain__popover.bubble {
        bottom: calc(100% + 5px);
    }
