.filter {
    position: relative;
}
    .filter__handler {
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 15px;
        border: 1px solid transparent;
        background-color: #EEECF4;
        border-radius: 8px;
        font-family: inherit;
        font-size: 14px;
        line-height: 20px;
        color: var(--txt-dark-blue);
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        user-select: none;
        transition: background-color var(--transition-hover);
    }

    .filter__handler:hover {
        background-color: #FFFFFF;
    }

    .filter--expanded .filter__handler {
        background-color: #FFFFFF;
    }

    .filter--selected .filter__handler {
        background-color: #FFFFFF;
        border-color: var(--accent-main-blue-50);
        color: var(--accent-main-blue);
    }
        .filter__handler .counter {
            margin-left: 8px;
        }

        .filter__chevron {
            margin-left: 8px;
            stroke: currentColor;
            transition: transform var(--transition-dropdown);
        }

        .filter--expanded .filter__chevron {
            transform: scaleY(-1);
        }

    /* Выпадайка только на десктопах (на смартфонах будет mfp): */
    @media (740px <= width) {

        .filter__dropdown {
            position: absolute;
            z-index: 100;
            left: 0;
            top: 100%;
            opacity: 0;
            padding-top: 7px;
            visibility: hidden;
            transition: opacity var(--transition-dropdown),
                        visibility var(--transition-dropdown);
        }
    }
        .filter__body {
            background-color: #FFFFFF;
            box-shadow: var(--shadow-large);
            border-radius: 8px;
            white-space: nowrap;
        }
            .filter__mobile-heading {
                display: none;
            }

            .filter__list {
                max-height: calc(50vh - 100px);
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-gutter: auto;
                padding: 20px 24px 0;
            }
                .filter__body .choice {
                    width: 100%;
                }

                .filter__body .choice__label {
                    padding-right: 24px;
                }

                .filter__actions {
                    margin-top: 12px;
                    padding: 0 24px 24px;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                }
                    .filter__actions .button {
                        flex-grow: 1;
                        flex-basis: 0;
                    }


.filter--expanded {

}
    .filter--expanded .filter__handler {

    }

    .filter--expanded .filter__dropdown {
        opacity: 100%;
        visibility: visible;
    }



@media (width < 740px) {

    .filter {

    }
        .filter__handler {

        }

        .filter__handler:hover {

        }

        .filter--expanded .filter__handler {

        }
            .filter__chevron {

            }

            .filter--expanded .filter__chevron {

            }


            .filter__dropdown {
                display: none;
            }

            .filter__body {

            }
                .filter__mobile-heading {
                    display: block;
                }

                .filter__list {
                    margin-top: 16px;
                    padding-bottom: 36px;
                }
                    .filter__body .choice {

                    }

                    .filter__body .choice__label {

                    }

                    .filter__actions {

                    }
                        .filter__actions .button {
                            height: 52px;
                            padding-top: 16px;
                            padding-bottom: 16px;
                        }


    .filter--expanded {

    }
        .filter--expanded .filter__handler {

        }

        .filter--expanded .filter__dropdown {

        }
}
