.footer {
    background-color: var(--bg-white-purple-darker);
}
    .footer__request {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer__main {
        padding-top: 20px;
        padding-bottom: 70px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 24px;
    }
        .footer__contacts {

        }
            .footer__call {
                font-size: 36px;
                line-height: 40px;
                letter-spacing: -0.75px;
            }
                .footer__call .explain {
                    margin-left: -12px;
                    margin-top: -13px;
                }
                    .footer__call .explain__icon {
                        background-size: 18px 18px;
                    }

            .footer__number-extensions {
                margin-top: 24px;
                display: flex;
                align-items: flex-start;
                gap: 53px;
            }
                .footer__extension {

                }
                    .footer__digit {
                        font-size: 16px;
                        line-height: 22px;
                    }

                    .footer__department {
                        margin-top: 4px;
                        font-size: 12px;
                        line-height: 17px;
                    }

            .footer__quality-head {
                margin-top: 48px;
                display: flex;
                align-items: center;
                gap: 8px;
            }
                .footer__quality-person {

                }
                    .footer__headshot {
                        vertical-align: top;
                        border-radius: 50%;
                    }

                .footer__quality-heading {
                    font-size: 16px;
                    line-height: 22px;
                }

            .footer__quality-feedback {
                margin-top: 8px;
                font-size: 12px;
                line-height: 17px;
            }

        .footer__nav {
            margin-top: 4px;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 133px));
            gap: 61px;
            align-items: flex-start;
        }
            .footer__menu-column {
                display: flex;
                flex-direction: column;
                width: fit-content;
            }
                .footer__link {
                    display: block;
                    padding-top: 6px;
                    padding-bottom: 6px;
                    font-size: 16px;
                    line-height: 22px;
                    color: inherit;
                    text-decoration: 1px underline transparent;
                    text-underline-offset: 5px;
                    transition: text-decoration-color var(--transition-hover);
                }

                .footer__link:hover {
                    text-decoration-color: currentColor;
                }

            .footer__sub-menu {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
            }
                .footer__sub-link {
                    display: block;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    font-size: 14px;
                    line-height: 20px;
                    color: inherit;
                    text-decoration: 1px underline transparent;
                    text-underline-offset: 4px;
                    transition: text-decoration-color var(--transition-hover);
                }

                .footer__sub-link:hover {
                    text-decoration-color: currentColor;
                }

            .footer__alt-menu {
                margin-top: 6px;
            }
                .footer__alt-menu .footer__link {
                    margin-top: 6px;
                }


    .footer__info {
        position: relative;
        padding-top: 80px;
        padding-bottom: 80px;
    }
        .footer__info::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 1px;
            background-color: var(--stroke-gray-border);
        }

        .footer__info-inner {

        }
            .footer__info-handler {
                display: none;
            }

            .footer__info-body {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                gap: 24px;
            }
                .footer__brands {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    gap: 40px;
                }
                    .footer__brand-item {
                        display: flex;
                        align-items: flex-start;
                        gap: 15px;
                    }
                        .footer__brand-logo {
                            vertical-align: top;
                        }

                        .footer__brand-title {
                            margin-top: 3px;
                            font-size: 12px;
                            line-height: 17px;
                        }

                .footer__description {

                }
                    .footer__about {
                        margin-bottom: 24px;
                        font-size: 12px;
                        line-height: 17px;
                    }

                    .footer__description-link {
                        margin-top: 8px;
                        font-size: 12px;
                        line-height: 17px;
                    }

    .footer__legalities {
        padding-top: 37px;
        padding-bottom: 37px;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 24px;
    }
        .footer__copyright-and-policy {
            display: flex;
            align-items: center;
        }
            .footer__copyright {
                font-size: 12px;
                line-height: 17px;
            }

            .footer__policy {
                margin-left: 24px;
                font-size: 12px;
                line-height: 17px;
            }

        .footer__media-and-developers {
            display: flex;
            align-items: center;
        }
            .footer__media {
                margin-top: -1px;
                margin-left: -3px;
            }

            .footer__developers {
                margin-left: auto;
                font-size: 12px;
                line-height: 17px;
            }



@media (width < 740px) {

    .footer {

    }
        .footer__request {
            padding-top: 88px;
            padding-bottom: 75px;
        }

        .footer__main {
            padding-top: 0;
            padding-bottom: 0;
            display: block;
        }
            .footer__contacts {

            }
                .footer__call {
                    font-size: 32px;
                    line-height: 38px;
                }

                @media (width < 350px) {
                    .footer__call {
                        font-size: 28px;
                        line-height: 32px;
                    }
                }

                .footer__number-extensions {
                    display: none;
                }
                    .footer__extension {

                    }
                        .footer__digit {

                        }

                        .footer__department {

                        }

                .footer__quality-head {
                    margin-top: 40px;
                }
                    .footer__quality-person {

                    }
                        .footer__headshot {

                        }

                    .footer__quality-heading {
                        font-size: 14px;
                        line-height: 20px;
                    }

                .footer__quality-feedback {

                }

            .footer__nav {
                margin-top: 48px;
                display: block;
            }
                .footer__menu-column {
                    display: block;
                    width: auto;
                }
                    .footer__link {
                        position: relative;
                        border-top: 1px solid var(--stroke-gray-border);
                        padding-top: 16px;
                        padding-bottom: 16px;
                        text-decoration: none;
                    }

                    .footer__menu-column:has(.footer__sub-menu) .footer__link {
                        padding-right: 32px;
                    }
                        .footer__menu-column:has(.footer__sub-menu) .footer__link::after {
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 17px;
                            width: 20px;
                            height: 20px;
                            background-image: url("../vectors/footer-chevron.svg");
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center center;
                            transition: transform 200ms ease;
                        }

                        .footer__menu-column--expanded .footer__link::after {
                            transform: scaleY(-1);
                        }

                        .footer__link:hover {

                        }

                .footer__sub-menu {
                    margin-top: 0;
                    padding-bottom: 16px;
                    display: none;
                }

                .footer__menu-column--expanded .footer__sub-menu {
                    display: block;
                    animation: slide-down var(--transition-slide);
                }

                    .footer__sub-link {
                        padding-left: 16px;
                        padding-right: 16px;
                        color: var(--txt-simple-gray);
                    }

                    .footer__sub-link:hover {

                    }

                .footer__alt-menu {
                    margin-top: 0;
                }
                    .footer__alt-menu .footer__link {
                        margin-top: 0;
                    }


        .footer__info {
            padding-top: 0;
            padding-bottom: 0;
            display: block;
        }
            .footer__info::before {
                display: none;
            }

            .footer__info-inner {
                border-bottom: 1px solid var(--stroke-gray-border);
            }
                .footer__info-handler {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                    border: none;
                    border-top: 1px solid var(--stroke-gray-border);
                    padding: 16px 0;
                    background-color: transparent;
                    font-family: inherit;
                    font-size: 16px;
                    line-height: 22px;
                    color: inherit;
                    text-align: left;
                    cursor: pointer;
                }
                    .footer__info-handler::after {
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 15px;
                        width: 20px;
                        height: 20px;
                        background-image: url("../vectors/footer-chevron.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        transition: transform 200ms ease;
                    }

                    .footer__info--expanded .footer__info-handler::after {
                        transform: scaleY(-1);
                    }

                .footer__info-body {
                    padding-bottom: 32px;
                    display: none;
                }

                .footer__info--expanded .footer__info-body {
                    display: block;
                    animation: slide-down var(--transition-slide);
                }

                    .footer__brands {
                        display: block;
                        padding-top: 12px;
                    }
                        .footer__brand-item {
                            margin-top: 32px;
                        }

                        .footer__brand-item:first-child {
                            margin-top: 0;
                        }

                            .footer__brand-logo {

                            }

                            .footer__brand-title {

                            }

                    .footer__description {
                        margin-top: 32px;
                    }
                        .footer__about {

                        }

                        .footer__description-link {
                            max-width: 240px;
                        }

        .footer__legalities {
            position: relative;
            margin-top: 46px;
            padding-top: 26px;
            padding-bottom: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }
            .footer__copyright-and-policy {
                display: block;
            }
                .footer__copyright {
                    margin-top: 16px;
                }

                .footer__policy {
                    margin-left: 0;
                    margin-top: 14px;
                }

            .footer__media-and-developers {
                display: block;
            }
                .footer__media {
                    position: absolute;
                    left: 0;
                    top: 0;
                    margin-top: 0;
                    margin-left: -3px;
                }

                .footer__developers {
                    margin-top: 40px;
                    margin-left: 0;
                }
}
