.input {
    position: relative;
}
    .input__widget {
        vertical-align: top;
        width: 100%;
        height: 50px;
        padding: 15px 17px;
        background-color: var(--fill-light-gray); /* reset grey background in some cases, such as <select> */
        background-clip: border-box; /* hack for iOS to make box-shadow works (same as border-radius in the past) */
        border: 1px solid transparent;
        outline: none;
        border-radius: 8px;
        font-family: inherit;
        font-size: 14px; /* not less than 16px (otherwise mobile browsers will zoom in on focus) */
        line-height: 20px;
        color: var(--txt-dark-blue);
        opacity: 1; /* reset select:disabled default fade on iOS */
        -webkit-tap-highlight-color: transparent;
        transition: background-color var(--transition-hover),
                    border-color var(--transition-hover),
                    color var(--transition-hover);
    }

    .input__widget::placeholder {
        opacity: 1; /* reset opacity drop Firefox */
        color: var(--txt-simple-gray);
        transition: color var(--transition-hover);
    }


    .input__widget:hover {
        border-color: var(--stroke-gray-border-2);
    }
    .input__widget:hover::placeholder {
        border-color: var(--stroke-gray-border-2);
    }


    .input__widget:focus-visible {
        border-color: var(--stroke-gray-border-2);
        background-color: var(--fill-total-white);
        transition: none;
    }
    .input__widget:focus-visible::placeholder {
        color: var(--stroke-gray-border);
        transition: none;
    }


    .input__widget[type="password"]:not(:placeholder-shown) {
        font-family: "Tahoma", sans-serif;
        letter-spacing: 2px;
    }


    .input__widget[type="color"] {
        width: 100px;
        padding: 4px 8px;
    }


    /* Either "appearance: none; width: 100%;" or "width: auto; to reset the width set above" */
    .input__widget[type="date"],
    .input__widget[type="datetime-local"],
    .input__widget[type="week"],
    .input__widget[type="month"],
    .input__widget[type="time"] {
        width: auto;
    }


/* Disabled */
.input__widget:disabled,
.input__widget:disabled:hover {
    background-color: var(--fill-blue-gray-1);
    border-color: transparent;
    color: var(--txt-dark-blue);
    opacity: 50%;
}

.input__widget:disabled::placeholder {
    color: var(--txt-dark-blue);
}


/* Error */
.input--error {

}
    .input--error .input__widget {
        background-color: var(--fill-red-50);
        color: var(--error);
    }

    .input--error .input__widget:hover {
        background-color: var(--fill-light-gray); /* reset grey background in some cases, such as <select> */
        border-color: var(--stroke-gray-border-2);
        color: var(--txt-dark-blue);
    }

    .input--error .input__widget::placeholder {
        color: var(--error);
    }

    .input--error .input__widget:hover::placeholder {
        color: var(--txt-simple-gray);
    }


/* stylelint-disable */
textarea.input__widget {
    height: auto; /* user rows="" attribute to set a default height */
    min-height: 50px; /* 1 row */
    max-height: calc(10*24px + 2*11px + 2*2px); /* rows + vertical paddings + vertical borders */
    resize: vertical;
}
/* stylelint-enable */


select.input__widget {
    appearance: none;
    padding-right: 50px;
    background-image: url("../vectors/dropdown.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: right 16px center;
    cursor: pointer;
}

select.input__widget:hover {
    box-shadow: none; /* same as base, not hover input */
    border-color: var(--stroke-gray-border-2); /* same as base, not hover input */
    background-color: #F6F6F6;
}

/* Disabled */
select.input__widget:disabled {
    cursor: default;
}



/* Error */
.input--error select.input__widget {
    background-image: url("../vectors/dropdown-error.svg");
}

.input--error select.input__widget:hover {
    border-color: var(--stroke-gray-border-2);
    color: var(--txt-dark-blue);
}


.input--placeholder-is-chosen {

}

.input--placeholder-is-chosen:hover {
    color: var(--txt-simple-gray);
}
    .input--placeholder-is-chosen select.input__widget {
        color: var(--txt-simple-gray);
    }

    .input--placeholder-is-chosen select.input__widget:disabled {
        color: var(--txt-dark-blue);
    }

    .input--placeholder-is-chosen.input--error select.input__widget {
        color: var(--error);
    }

    .input--placeholder-is-chosen.input--error select.input__widget:hover {
        color: var(--txt-simple-gray);
    }
        .input--placeholder-is-chosen select.input__widget option {
            color: #000000; /* Browsers on Windows inherit grey color from <select> to <option>`s. Reset it. */
        }

