.main-slider {
    position: relative;
    margin-top: calc(-1 * var(--header-height));
}
    .main-slider__background {

    }

    .main-slider__navigation {
        position: absolute;
        z-index: 40;
        left: 0;
        right: 0;
        bottom: 40px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: var(--fill-total-white-15);
        backdrop-filter: var(--blur-15);
    }
        .main-slider__nav-wrap {
            display: flex;
            align-items: stretch;
            gap: 10px;
        }

        @media (640px <= width) {

            .main-slider__nav-wrap {
                justify-content: center;
            }
        }

            .main-slider__button {
                width: 60px;
                flex-shrink: 0;
                border: none;
                padding: 0;
                background-color: var(--fill-total-white-15);
                backdrop-filter: var(--blur-15);
                border-radius: 12px;
                cursor: pointer;
                transition: background-color var(--transition-hover);
            }

            .main-slider__button:hover {
                background-color: var(--fill-total-white);
            }
                .main-slider__chevron {
                    stroke: var(--stroke-total-white);
                    transition: stroke var(--transition-hover);
                }

                .main-slider__button:hover .main-slider__chevron {
                    stroke: var(--fill-dark-blue);
                }


            .main-slider__nav-list {
                display: flex;
                align-items: stretch;
                gap: 10px;
            }
                .main-slider__nav-item {
                    flex-grow: 1;
                }





@media (width < 740px) {

    .main-slider {
        position: relative;
        margin-top: calc(-1 * var(--header-height));
    }
        .main-slider__background {

        }

        .main-slider__navigation {
            /*position: absolute;*/
            /*z-index: 40;*/
            /*left: 0;*/
            /*right: 0;*/
            /*bottom: 40px;*/
            /*padding-top: 6px;*/
            /*padding-bottom: 6px;*/
            /*background-color: var(--fill-total-white-15);*/
            /*backdrop-filter: var(--blur-15);*/
        }
            .main-slider__nav-wrap {
                /*display: flex;*/
                /*align-items: stretch;*/
                /*gap: 10px;*/
                max-width: none;
                overflow-x: auto;
                margin-top: -30px !important;
                padding-top: 30px;
            }
                .main-slider__nav-wrap.container {
                    max-width: none;
                    border: none;
                    margin: 0;
                }

                .main-slider__button {
                    display: none;
                }

                .main-slider__nav-list {
                    display: inline-flex;
                    align-items: stretch;
                    padding-left: var(--container-padding);
                    padding-right: var(--container-padding);
                }
                    .main-slider__nav-item {
                        /*flex-grow: 1;*/
                    }
}
