.main-slider {
    position: relative;
    margin-top: calc(-1 * var(--header-height));
}
    .main-slider__background {

    }

    .main-slider__navigation {
        position: absolute;
        z-index: 40;
        left: 0;
        right: 0;
        bottom: 40px;
        padding-top: 6px;
        padding-bottom: 6px;
        background-color: var(--fill-total-white-15);
        backdrop-filter: var(--blur-15);
    }
        .main-slider__nav-wrap {
            padding-left: 70px;
            padding-right: 70px;
        }



@media (width < 740px) {

    .main-slider {
        overflow: hidden;
    }
        .main-slider__background {

        }

        .main-slider__navigation {
            bottom: 0;
            padding-top: 4px;
            padding-bottom: 16px;
        }
            .main-slider__nav-wrap {
                padding-left: 0;
                padding-right: 0;
            }
                .main-slider__nav-wrap.container,
                .main-slider__nav-wrap .container {
                    max-width: none;
                }
                    .main-slider__nav-wrap .carousel {

                    }
                        .main-slider__nav-wrap .carousel__widget {

                        }
                            .main-slider__nav-wrap .swiper {
                                overflow-x: auto;
                                margin-top: -20px; /* даём абсолютно-спозионированной пипке бабла больше места, чтобы не обрезалась */
                                padding-top: 20px;
                                margin-left: calc(-1 * var(--container-padding));
                                margin-right: calc(-1 * var(--container-padding));
                                touch-action: auto;
                            }
                                .main-slider__nav-wrap .swiper-wrapper {
                                    display: inline-flex !important;
                                    width: auto !important;
                                    align-items: stretch !important;
                                    gap: 8px;
                                    padding-left: var(--container-padding);
                                    padding-right: var(--container-padding);
                                }
}
