.media {
    display: flex;
    align-items: flex-start;
    margin: -6px;
}
    .media__link {
        display: block;
        padding: 6px;
    }
        .media__icon {
            vertical-align: top;
            fill: var(--fill-dark-blue);
        }



@media (width < 740px) {

    .media {

    }
        .media__link {
            padding-left: 7px;
            padding-right: 7px;
        }
            .media__icon {

            }
}
