.panel {
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 16px;
}
    .panel__heading {
        margin-top: 0;
        margin-bottom: 0;
    }
        .panel__heading .explain {
            margin-left: -12px;
            margin-top: -15px;
        }
            .panel__heading .explain__icon {
                background-size: 18px 18px;
            }

    .panel__body {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 48px;
    }
        .panel__stat {

        }
            .panel__param {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
            }
                .panel__index {
                    letter-spacing: 2px;
                }

            .panel__value {
                margin-top: 8px;
                font-size: 16px;
                line-height: 22px;
            }

            .panel__note {
                margin-top: 24px;
                font-size: 16px;
                line-height: 22px;
            }

            .panel__addition {
                margin-top: 4px;
                font-size: 16px;
                line-height: 22px;
            }



@media (width < 740px) {

    .panel {
        padding: 32px;
        /*background-color: #FFFFFF;*/
        /*border-radius: 16px;*/
    }
        .panel__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            font-size: 24px;
            line-height: 29px;
        }
            .panel__heading .explain {
                /*margin-left: -12px;*/
                /*margin-top: -15px;*/
            }
                .panel__heading .explain__icon {
                    /*background-size: 18px 18px;*/
                }

        .panel__body {
            margin-top: 32px;
            display: block;
        }
            .panel__stat {
                margin-top: 24px;
            }

            .panel__stat:first-child {
                margin-top: 0;
            }
                .panel__param {
                    /*margin-top: 0;*/
                    /*margin-bottom: 0;*/
                    /*font-weight: normal;*/
                    font-size: 18px;
                    line-height: 25px;
                }
                    .panel__index {
                        /*letter-spacing: 2px;*/
                    }

                .panel__value {
                    /*margin-top: 8px;*/
                    font-size: 14px;
                    line-height: 20px;
                }

                .panel__note {
                    margin-top: 16px;
                    font-size: 14px;
                    line-height: 20px;
                }

                .panel__addition {
                    /*margin-top: 4px;*/
                    font-size: 14px;
                    line-height: 20px;
                }
}
