.poster {
    display: block;
    border-radius: 12px;
    overflow: hidden; /* Обрезаем уголки всему, что внутри */
}
    .poster__image {
        vertical-align: top;
        background-color: var(--image-fallback);
    }
