.related {
    padding-top: 106px;
    overflow: hidden; /* Обрезаем карусель, у которой видим хвост ленты справа (выключен overflow: hidden). Смотри: ".carousel--css-skin-cases .carousel__widget .swiper" */
}
    .related__wrap {
        position: relative;
    }
        .related__heading {
            margin-top: 0;
            margin-bottom: 0;
        }

        .related__body {
            margin-top: 52px;
        }

    .related::after {
        content: "";
        display: block;
        height: 12px;
        margin-top: 120px;
        background-image: linear-gradient(to right, #95C0FF, #E29CFF 75%, #8E8FFF 100%);
    }

    .related__details {
        position: absolute;
        right: 136px;
        top: -6px;
    }



@media (width < 740px) {

    .related {
        padding-top: 88px;
        background-image: linear-gradient(45deg, #C4E8FF, var(--bg-white-purple) 50%, transparent);
        background-size: 500px 500px;
        background-repeat: no-repeat;
        background-position: left bottom;
    }
        .related__wrap {
            display: flex;
            flex-direction: column;
        }
            .related__heading {

            }

            .related__body {
                margin-top: 32px;
            }

            .related::after {
                margin-top: 88px;
                height: 8px;
            }

            .related__details {
                position: static;
                order: 3;
                margin-top: 24px;
            }
                .related__details .button {
                    width: 100%;
                    background-color: #FFFFFF;
                    box-shadow: none;
                }


    .related--4-tiles-on-smartphone {

    }
        .related--4-tiles-on-smartphone .swiper-slide:nth-child(n+5) {
            display: none;
        }

    .related--2-tiles-on-smartphone {

    }
        .related--2-tiles-on-smartphone .swiper-slide:nth-child(n+3) {
            display: none;
        }
}



.related--gradient-background {
    background-image: linear-gradient(204deg, transparent, transparent 50%, #F7F6FB 50%, #C0DCFF);

}

@media (width < 740px) {
    .related--gradient-background {
        background-image: linear-gradient(185deg, transparent, transparent 50%, #F7F6FB 50%, #C8E9FF);
    }
}
