.search {
    --search-submit-width: 90px;
}

.search {
    width: 704px;
    padding: 8px 8px 24px;
}
    .search__form {
        position: relative;
    }

        /* Сбрасываем стили контейнера, они будут нужны только на смартфонах */
        @media (740px <= width) {
            .search__form.container {
                width: auto;
                border-left: none;
                border-right: none;
            }
        }

        .search__icon {
            position: absolute;
            z-index: 10;
            left: 14px;
            top: 50%;
            margin-top: -8px;
            stroke: var(--txt-simple-gray);
            pointer-events: none;
        }

        .search__field {
            position: relative;
        }
            .search__field .input__widget {
                padding-left: 44px;
            }

            .search:has(.search__submit) .input__widget {
                padding-right: calc(var(--search-submit-width) + 54px) !important; /* Перебиваем более сложный паддинг внутри _input.scss */
            }

            .search__close {
                display: none !important;
            }
                .search__cross {
                    vertical-align: top;
                    stroke: var(--stroke-darkblue);
                    pointer-events: none; /* Баг в mfp */
                }

        .search__submit {
            position: absolute;
            right: 4px;
            top: 4px;
        }
            .search__submit .button {
                width: var(--search-submit-width);
                padding-left: 24px;
                padding-right: 24px;
            }

    /* stylelint-disable */
    .search__results {
        margin-top: 16px;
        padding-left: 4px;
        padding-right: 4px;
        max-height: calc(100svh - 2 * var(--popup-vertical-padding) - 100px); /* 100px -- это размер формы поиска и сумма всех вертикальных отступов внутри */
        overflow-y: auto;
    }
    /* stylelint-enable */

    /* Сбрасываем стили контейнера, они будут нужны только на смартфонах */
    @media (740px <= width) {
        .search__results.container {
            width: auto;
            border-left: none;
            border-right: none;
        }
    }
        .search__item {
            width: 100%;
            padding: 8px 12px;
            background-color: transparent;
            border: none;
            border-radius: 8px;
            font-family: inherit;
            font-size: 16px;
            line-height: 22px;
            color: var(--txt-dark-blue);
            text-align: left;
            cursor: pointer;
            transition: background-color var(--transition-hover);
        }

        .search__item:hover {
            background-color: var(--fill-light-gray);
        }


/* Отменяем вертикальное центрирование в модалке */
.search-expanded .mfp-container::before {
    display: none;
}



@media (width < 740px) {

    .search {
        padding-top: 0;
        width: 100%;
        /*padding: 8px 8px 24px;*/
    }
        .search__form {
            /*position: relative;*/
            position: sticky; /* логично было бы fixed, но не работает на айфоне */
            left: 0;
            top: 0;
            right: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            background-color: #FFFFFF;
        }
            .search__icon {
                /*position: absolute;*/
                /*z-index: 10;*/
                /*left: 14px;*/
                /*top: 18px;*/
                /*stroke: var(--txt-simple-gray);*/
                /*pointer-events: none;*/
            }

            .search__field {

            }
                .search__field .input__widget {
                    /*padding-left: 44px;*/
                    height: 56px;
                    padding-top: 16px;
                    padding-bottom: 16px;
                }

                .search__close {
                    position: absolute;
                    top: 0 !important; /* important потому что конфлик с классом mfp */
                    bottom: 0;
                    right: 0;
                    display: flex !important; /* important потому что конфлик с классом mfp */
                    align-items: center;
                    justify-content: center;
                    border: none;
                    padding: 0;
                    background-color: transparent;
                    width: 44px;
                    height: auto !important; /* important потому что конфлик с классом mfp */
                    opacity: 100% !important; /* important потому что конфлик с классом mfp */
                }

                .search:has(.search__submit) .search__close {
                    right: 94px;
                }
                    .search__cross {
                        vertical-align: top;
                        stroke: var(--stroke-darkblue);
                        pointer-events: none; /* Баг в mfp */
                    }

            .search__submit {
                /*position: absolute;*/
                /*right: 4px;*/
                /*top: 4px;*/
            }
                .search__submit .button {
                    /*padding-left: 24px;*/
                    /*padding-right: 24px;*/
                    height: 48px;
                    padding-top: 14px;
                    padding-bottom: 14px;
                }

        .search__results {
            /*margin-top: 16px;*/
            /*padding-left: 4px;*/
            /*padding-right: 4px;*/
            max-height: none;
            /*overflow-y: auto;*/
        }
            .search__item {
                /*width: 100%;*/
                /*padding: 8px 12px;*/
                /*background-color: transparent;*/
                /*border: none;*/
                /*border-radius: 8px;*/
                /*font-family: inherit;*/
                /*font-size: 16px;*/
                /*line-height: 22px;*/
                /*color: var(--txt-dark-blue);*/
                /*text-align: left;*/
                /*cursor: pointer;*/
                /*transition: background-color var(--transition-hover);*/
            }

            .search__item:hover {
                /*background-color: var(--fill-light-gray);*/
            }
}



/* на смартфонах убираем всё, что связано с модальным окном: */
@media (width < 740px) {

    .search-expanded {
        overflow: visible !important;
    }

    .search-expanded body {
        background-color: #FFFFFF;
    }

    .search-expanded .info,
    .search-expanded .header,
    .search-expanded .page {
        display: none;
    }

    .search-expanded .mfp-wrap {
        position: static;
        overflow: visible !important;
    }
        .search-expanded .mfp-container {
            display: block;
            padding: 0;
            min-width: 0;
        }
            .search-expanded .mfp-container::before {
                display: none;
            }

            .search-expanded .mfp-content {
                display: block;
                width: auto;
                margin: 0;
                transition: none;
            }
                .search-expanded .window {
                    display: block;
                }

    .search-expanded .mfp-wrap {
         background-color: transparent;
    }

    .search-expanded .mfp-bg {
        background-color: transparent;
        display: none; /* Хотелось бы оставить, но из-за него продуцируется огромный вертикальный скролл на iOS */
    }

    .search-expanded .window {
        background-color: transparent;
    }
        .search-expanded .window__close {
            display: none;
        }
}
