.share {
    display: flex;
    align-items: center;
    background-color: var(--fill-wite-purple-darker);
    border-radius: 8px;
    padding: 6px 6px 6px 24px;
}
    .share__heading {
        flex-shrink: 0;
        font-size: 14px;
        line-height: 20px;
        color: var(--txt-dark-blue);
    }

    .share__list {
        margin-left: auto;
        display: flex;
        align-items: flex-start;
    }



@media (width < 740px) {

    .share {
        /*display: flex;*/
        /*align-items: center;*/
        /*background-color: var(--fill-wite-purple-darker);*/
        /*border-radius: 8px;*/
        /*padding: 6px 6px 6px 24px;*/
        padding-left: 16px;
        padding-right: 10px;
    }
        .share__heading {
            flex-shrink: 0;
            font-size: 14px;
            line-height: 20px;
            color: var(--txt-dark-blue);
        }

        .share__list {
            margin-left: auto;
            display: flex;
            align-items: flex-start;
        }
}
