.simplified-filters {
    display: flex;
    align-items: flex-start;
}
    .simplified-filters__item {
        position: relative;
        padding-left: 22px;
    }

    .simplified-filters__item:first-child {
        padding-left: 0;
    }
        .simplified-filters__item::before {
            content: "";
            position: absolute;
            left: 8px;
            top: 15px;
            width: 6px;
            height: 6px;
            background-color: var(--fill-white-purple-darker-2);
            border-radius: 50%;
        }

        .simplified-filters__item:first-child::before {
            display: none;
        }

        .simplified-filters__link {
            display: block;
            width: fit-content;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 14px;
            line-height: 20px;
            color: var(--accent-main-blue);
            text-decoration: 1px underline transparent;
            text-underline-offset: 4px;
        }

        .simplified-filters__link:hover {
            text-decoration-color: currentColor;
        }
