.striped-gallery {

}
    .striped-gallery__desktop-version {

    }

    .striped-gallery__smartphone-version {
        display: none;
    }


@media (width < 740px) {

    .striped-gallery__desktop-version {
        display: none;
    }

    .striped-gallery__smartphone-version {
        display: block;
    }
}
