.summary {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
    .summary__item {
        position: relative;
        padding-right: 22px;
        font-size: 14px;
        line-height: 20px;
        color: var(--txt-simple-gray);
        white-space: nowrap;
        text-decoration: none;
    }

    .summary__item:last-child {
        padding-left: 0;
    }
        .summary__item::after {
            content: "";
            position: absolute;
            right: 8px;
            top: 7px;
            width: 6px;
            height: 6px;
            background-color: var(--fill-white-purple-darker-2);
            border-radius: 50%;
        }

        .summary__item:last-child::after {
            display: none;
        }

        .summary__brand {
            display: block;

            /* Возможно, эти значения придётся подгонять под каждое лого индивидуально, но пока усреднённый вариант: */
            margin-left: -15px;
            margin-right: -15px;

            /* Сама секция 20px в высоту, а логотипы внутри 60px, подгоняем: */
            margin-top: -18px;
            margin-bottom: -22px;
        }
            .summary__logo {
                vertical-align: top;
                width: auto;
                height: 60px;
                filter: var(--client-logo-fade-filter);
                opacity: var(--client-logo-fade-opacity);
                transition: filter var(--transition-hover),
                            opacity var(--transition-hover);
            }

            .summary__brand:hover .summary__logo {
                filter: var(--client-logo-fade-hover);
                opacity: var(--client-logo-fade-opacity-hover);
            }



.summary__item--text-alike {
    color: var(--txt-simple-gray);
}



@media (width < 740px) {

    .summary {

    }
        .summary__item {
            font-size: 12px;
            line-height: 17px;
        }

        .summary__item:last-child {

        }
            .summary__item::after {
                top: 6px;
            }

            .summary__item:last-child::after {

            }

            .summary__brand {

                /* Сама секция 20px в высоту, а логотипы внутри 60px, подгоняем: */
                margin-top: -20px;
                margin-bottom: -20px;
            }
}




.summary--larger {

}
    .summary--larger .summary__item {
        font-size: 16px;
        line-height: 22px;
    }

    .summary--larger .summary__item:last-child {

    }
        .summary--larger .summary__item::after {
            top: 9px;
        }

        .summary--larger .summary__item:last-child::after {

        }

@media (width < 740px) {

    .summary--larger {

    }
        .summary--larger .summary__item {
            font-size: 14px;
            line-height: 20px;
        }

        .summary--larger .summary__item:last-child {

        }
            .summary--larger .summary__item::after {
                top: 7px;
            }

            .summary--larger .summary__item:last-child::after {

            }
}
