.theater {

}
    .theater__strut {

    }

    .theater__link {
        border-radius: 16px;
    }
        .theater__image {
            vertical-align: top;
            background-color: var(--image-fallback);
            width: 100%;
            height: auto;
            aspect-ratio: 376/251;
            object-fit: cover;
        }


@media (width < 442px) {

    .theater__strut {
        margin-left: calc(-1 * var(--container-padding));
        margin-right: calc(-1 * var(--container-padding));
    }
}

@media (442px <= width) {

    .theater__image {
        border-radius: 16px;
    }
}
