.title {
    font-weight: normal;
    letter-spacing: -0.03em;
}

.title--main {
    font-size: 48px;
    line-height: 53px;
}

@media (width < 740px) {

    .title--main {
        font-size: 32px;
        line-height: 38px;
    }
}



.title--secondary {
    font-size: 32px;
    line-height: 38px;
}

@media (width < 740px) {

    .title--secondary {
        font-size: 40px;
        line-height: 44px;
    }
}
