.wysiwyg {
    --list-padding: 24px;
    --font-size: 16px;
    --line-height: 22px;
}
    @media (width < 740px) {
        .wysiwyg {
            --list-padding: 20px;
            --font-size: 14px;
            --line-height: 20px;
        }
    }


/* В идеале для wysiwyg--larger бы надо проработать и увеличенные заголовки и всё прочее, но пока не встречалось. Встречался только кейс в блоке .comment */
.wysiwyg--larger {
    --font-size: 18px;
    --line-height: 28px;
}



.wysiwyg {
    overflow-wrap: break-word;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg hr,
.wysiwyg figure,
.wysiwyg blockquote {
    margin-top: var(--line-height);
    margin-bottom: var(--line-height);
}



.wysiwyg h2 {
    margin-top: 72px;
    margin-bottom: 32px;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
}
    @media (width < 740px) {
        .wysiwyg h2 {
            margin-top: 48px;
            margin-bottom: 24px;
            font-size: 28px;
            line-height: 34px;
        }
    }

.wysiwyg h3 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}
    @media (width < 740px) {
        .wysiwyg h3 {
            margin-top: 24px;
            margin-bottom: -12px;
            font-size: 20px;
            line-height: 24px;
        }
    }



.wysiwyg img {
    width: 100%;
    height: auto;
    vertical-align: top;
    border-radius: 16px;
}



.wysiwyg figure {
    margin: 40px 0;
}
    .wysiwyg figcaption {
        margin-top: 12px;
        font-size: 14px;
        line-height: 20px;
    }

@media (width < 740px) {

    .wysiwyg figure {
        margin-top: 32px;
        margin-bottom: 32px;
    }
        .wysiwyg figcaption {
            margin-top: 8px;
            font-size: 12px;
            line-height: 17px;
        }
}


.wysiwyg ul,
.wysiwyg ol {
    padding-left: var(--list-padding);
}
    .wysiwyg li {
        margin-top: calc(var(--line-height) / 2);
    }

    .wysiwyg li:first-child {
        margin-top: 0;
    }

.wysiwyg ul {
    list-style: none;
}
    .wysiwyg ul li {
        position: relative;
    }
        .wysiwyg ul li::before {
            content: '\2022'; /* Юникод для круглого буллета */
            position: absolute;
            right: 100%;
            top: 0;
            display: block;
            width: var(--list-padding);
            font-size: 1.2em;
            text-align: center;
        }



.wysiwyg a {
    /* See .link component */
}

.wysiwyg b,
.wysiwyg strong {
    font-weight: 500;
}



.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg h2:first-child,
.wysiwyg h3:first-child,
.wysiwyg figure:first-child,
.wysiwyg blockquote:first-child {
    margin-top: 0;
}

.wysiwyg p:last-child,
.wysiwyg ul:last-child,
.wysiwyg ol:last-child,
.wysiwyg hr:last-child,
.wysiwyg h2:last-child,
.wysiwyg h3:last-child,
.wysiwyg figure:last-child,
.wysiwyg blockquote:last-child {
    margin-bottom: 0;
}
